In [1]:
import datetime
import email
import imaplib
import mailbox
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import re
import glob
from numpy import nansum
from numpy import nanmean
import datetime
import functools
from datetime import datetime

In [2]:
import math
from scipy.optimize import brentq
Gamma=0.66

#----------------numerical solution--------------------------
# Tw + (es*(Tw))/ð›¾ = Ta + ea/ ð›¾
# Ta air temperature 
# RH relative humidit
def TwNumerical(Ta,RH):
    SaturatedVPTa = 6.11* np.exp( (17.269*Ta) / (237.3+Ta) )
    VaporPressure = SaturatedVPTa*RH/100.0    
    def GetRoot(Tw):
        SaturatedVPTw = 6.11* np.exp( (17.269*Tw) / (237.3+Tw) )
        Function = Tw + SaturatedVPTw/Gamma-Ta-VaporPressure/Gamma
        return Function
    root,info = brentq(GetRoot,-20,50, full_output=True)
    return root


#----------------stull's formula----------------------
# use Stull's formula to calculate wet bulb temperature
# Ta air temperature 
# RH relative humidity
def Tw_Stull(Ta, RH):
    Tw_Stull=Ta*np.arctan(0.151977*(RH+8.313659)**0.5)+\
            np.arctan(Ta+RH)-np.arctan(RH-1.676331)+\
            np.arctan(0.023101*RH)*0.00391838*RH**(3./2.)-4.686035
    return Tw_Stull

def Clean_table_TW(df, st, tr):

    df['Lon'] = df['Lon'].str.replace('W','-').str.replace('E','').str.replace(' ','').astype(float)
    df['Lat'] = df['Lat'].str.replace('S','-').str.replace('N','').str.replace(' ','').astype(float)
    df['Temp'] = df['Temp'].str.replace('C','').str.replace(' ','').astype(float)
    df['Temp']=(df['Temp']-32)*5/9
    df['RH'] = df['RH'].str.replace('%','').str.replace(' ','').astype(float)
    df['Time']= pd.to_datetime(st[4:6]+'-'+st[-2:]+'-'+st[0:4]+ ' ' + df['Time'])
    #df['Biked']=np.nan
    #df['Biked'][0]=(df['Time'][df.shape[0]-1]-df['Time'][0]).seconds/60
    #df['Date']=np.nan
    #df['Date'][0]=str('Trip '+tr+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
    #df['Date_all']=str('Trip '+tr+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
    #df['Time']=df['Time'].replace(year=int(st[0:4]), month=int(st[4:6]), day=int(st[-2:]))
    df['Tw_Numerical']=df.apply(lambda x: TwNumerical(x['Temp'], x['RH']), axis=1)
    df['Tw_Stull']=Tw_Stull(df['Temp'], df['RH'])
    
    
    
    
    df = df.fillna('')
    return df

In [3]:
Dat_list=glob.glob('Bike study-6/*.txt')
Dat_list

['Bike study-6\\20191002-evening.txt',
 'Bike study-6\\20191002-morning.txt',
 'Bike study-6\\20191003-evening.txt',
 'Bike study-6\\20191003-morning.txt',
 'Bike study-6\\20191004-evening.txt',
 'Bike study-6\\20191004-morning.txt',
 'Bike study-6\\20191022-evening.txt',
 'Bike study-6\\20191022-morning.txt',
 'Bike study-6\\20191023-evening.txt',
 'Bike study-6\\20191023-morning.txt',
 'Bike study-6\\20191025-evening.txt',
 'Bike study-6\\20191025-morning.txt',
 'Bike study-6\\20191028-evening.txt',
 'Bike study-6\\20191028-morning.txt',
 'Bike study-6\\20191029-evening.txt',
 'Bike study-6\\20191029-morning.txt',
 'Bike study-6\\20191030-evening.txt',
 'Bike study-6\\20191030-morning.txt',
 'Bike study-6\\20191031-evening.txt',
 'Bike study-6\\20191031-morning .txt',
 'Bike study-6\\20191115.txt',
 'Bike study-6\\20191118.txt',
 'Bike study-6\\20191120-morning.txt',
 'Bike study-6\\20191120.txt',
 'Bike study-6\\20191122.txt',
 'Bike study-6\\20191125.txt',
 'Bike study-6\\20200224evening.txt',
 'Bike study-6\\20200224morning.txt',
 'Bike study-6\\20200225evening.txt',
 'Bike study-6\\20200225morning.txt',
 'Bike study-6\\20200226evening.txt',
 'Bike study-6\\20200226morning.txt',
 'Bike study-6\\20200227morning.txt',
 'Bike study-6\\20200227wvwning.txt',
 'Bike study-6\\20200228evening.txt',
 'Bike study-6\\20200228morning.txt',
 'Bike study-6\\20200302evening.txt',
 'Bike study-6\\20200302morning.txt',
 'Bike study-6\\20200303evening.txt',
 'Bike study-6\\20200303morning.txt',
 'Bike study-6\\20200304evening.txt',
 'Bike study-6\\20200304morning.txt',
 'Bike study-6\\20200305morning.txt',
 'Bike study-6\\20200306evening.txt',
 'Bike study-6\\20200306morning.txt',
 'Bike study-6\\20200309evening.txt',
 'Bike study-6\\20200309morning.txt',
 'Bike study-6\\20200310evening.txt',
 'Bike study-6\\20200310morning.txt',
 'Bike study-6\\20200311evening.txt',
 'Bike study-6\\20200311morning.txt',
 'Bike study-6\\20200312.wveningtxt.txt',
 'Bike study-6\\20200312morning.txt']

In [24]:
# Read csvs and clean data
Dat_all=[]
ii=1
for item in Dat_list:
    Dat=pd.read_csv(item, names=["Time", "Lon", "Lat", "ID","Temp","RH"]) 
    Dat_clean=Clean_table_TW(Dat, str(item)[13:21], "{:0>2}".format(str(ii)))
    Dat_all.append(Dat_clean)
    ii=ii+1

In [25]:
Dat_all

[                    Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-02 08:08:12 -72.90217  41.35806   AFF9  23.500000  79.62
 1    2019-10-02 08:08:13 -72.90217  41.35806   AFF9  23.527778  79.54
 2    2019-10-02 08:08:14 -72.90216  41.35806   AFF9  23.527778  79.46
 3    2019-10-02 08:08:15 -72.90216  41.35806   AFF9  23.500000  79.38
 4    2019-10-02 08:08:16 -72.90217  41.35805   AFF9  23.527778  79.34
 ...                  ...       ...       ...    ...        ...    ...
 3806 2019-10-02 17:41:11 -72.90223  41.35813   AFF9  27.238889  64.31
 3807 2019-10-02 17:41:12 -72.90223  41.35813   AFF9  27.222222  64.29
 3808 2019-10-02 17:41:13 -72.90223  41.35813   AFF9  27.222222  64.32
 3809 2019-10-02 17:41:14 -72.90221  41.35813   AFF9  27.238889  64.27
 3810 2019-10-02 17:41:15 -72.90221  41.35813   AFF9  27.238889  64.21

       Tw_Numerical   Tw_Stull
 0        20.923797  20.838650
 1        20.939260  20.854587
 2        20.928626  20.843884
 3        20.891918  20.806557
 4        20.912667  20.827826
 ...            ...        ...
 3806     22.118220  22.173048
 3807     22.100285  22.154800
 3808     22.105037  22.159336
 3809     22.111881  22.166997
 3810     22.102368  22.157920

 [3811 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-02 08:08:12 -72.90217  41.35806   AFF9  23.500000  79.62
 1    2019-10-02 08:08:13 -72.90217  41.35806   AFF9  23.527778  79.54
 2    2019-10-02 08:08:14 -72.90216  41.35806   AFF9  23.527778  79.46
 3    2019-10-02 08:08:15 -72.90216  41.35806   AFF9  23.500000  79.38
 4    2019-10-02 08:08:16 -72.90217  41.35805   AFF9  23.527778  79.34
 ...                  ...       ...       ...    ...        ...    ...
 2277 2019-10-02 08:47:32 -72.92754  41.31574   AFF9  22.422222  59.92
 2278 2019-10-02 08:47:33 -72.92754  41.31574   AFF9  22.427778  60.84
 2279 2019-10-02 08:47:34 -72.92754  41.31574   AFF9  22.422222  62.07
 2280 2019-10-02 08:47:35 -72.92754  41.31574   AFF9  22.422222  63.07
 2281 2019-10-02 08:47:36 -72.92754  41.31574   AFF9  22.461111  64.02

       Tw_Numerical   Tw_Stull
 0        20.923797  20.838650
 1        20.939260  20.854587
 2        20.928626  20.843884
 3        20.891918  20.806557
 4        20.912667  20.827826
 ...            ...        ...
 2277     17.239922  17.175356
 2278     17.375503  17.306482
 2279     17.544524  17.469415
 2280     17.685059  17.605416
 2281     17.852202  17.769680

 [2282 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-03 08:11:55 -72.90229  41.35803   AFF9  17.400000  54.12
 1    2019-10-03 08:11:56 -72.90229  41.35803   AFF9  17.372222  54.19
 2    2019-10-03 08:11:57 -72.90229  41.35803   AFF9  17.400000  54.28
 3    2019-10-03 08:11:58 -72.90229  41.35803   AFF9  17.427778  54.32
 4    2019-10-03 08:11:59 -72.90229  41.35804   AFF9  17.438889  54.39
 ...                  ...       ...       ...    ...        ...    ...
 3593 2019-10-03 17:22:07 -72.90204  41.35795   AFF9  10.172222  95.58
 3594 2019-10-03 17:22:08 -72.90204  41.35793   AFF9  10.200000  95.66
 3595 2019-10-03 17:22:09 -72.90204  41.35793   AFF9  10.200000  95.71
 3596 2019-10-03 17:22:10 -72.90206  41.35791   AFF9  10.188889  95.76
 3597 2019-10-03 17:22:11 -72.90206  41.35791   AFF9  10.227778  95.77

       Tw_Numerical   Tw_Stull
 0        12.184292  11.966533
 1        12.169676  11.950656
 2        12.204227  11.985915
 3        12.232563  12.015130
 4        12.250633  12.033365
 ...            ...        ...
 3593      9.801742   9.656893
 3594      9.835917   9.692812
 3595      9.840137   9.697942
 3596      9.833380   9.691983
 3597      9.872638   9.731822

 [3598 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-03 08:11:55 -72.90229  41.35803   AFF9  17.400000  54.12
 1    2019-10-03 08:11:56 -72.90229  41.35803   AFF9  17.372222  54.19
 2    2019-10-03 08:11:57 -72.90229  41.35803   AFF9  17.400000  54.28
 3    2019-10-03 08:11:58 -72.90229  41.35803   AFF9  17.427778  54.32
 4    2019-10-03 08:11:59 -72.90229  41.35804   AFF9  17.438889  54.39
 ...                  ...       ...       ...    ...        ...    ...
 2147 2019-10-03 08:48:59 -72.92351  41.31690   AFF9  11.161111  78.47
 2148 2019-10-03 08:49:00 -72.92352  41.31690   AFF9  11.150000  78.36
 2149 2019-10-03 08:49:01 -72.92352  41.31690   AFF9  11.150000  78.35
 2150 2019-10-03 08:49:02 -72.92353  41.31690   AFF9  11.161111  78.40
 2151 2019-10-03 08:49:03 -72.92353  41.31690   AFF9  11.161111  78.46

       Tw_Numerical   Tw_Stull
 0        12.184292  11.966533
 1        12.169676  11.950656
 2        12.204227  11.985915
 3        12.232563  12.015130
 4        12.250633  12.033365
 ...            ...        ...
 2147      9.247683   8.889410
 2148      9.227223   8.867741
 2149      9.226306   8.866737
 2150      9.241263   8.882378
 2151      9.246766   8.888406

 [2152 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-04 08:11:33 -72.90208  41.35795   AFF9  16.538889  74.11
 1    2019-10-04 08:11:34 -72.90210  41.35795   AFF9  16.550000  74.16
 2    2019-10-04 08:11:35 -72.90210  41.35795   AFF9  16.550000  74.16
 3    2019-10-04 08:11:36 -72.90210  41.35795   AFF9  16.522222  74.18
 4    2019-10-04 08:11:37 -72.90208  41.35793   AFF9  16.511111  74.21
 ...                  ...       ...       ...    ...        ...    ...
 2534 2019-10-04 08:54:47 -72.92372  41.31688   AFF9  14.272222  87.16
 2535 2019-10-04 08:54:48 -72.92374  41.31687   AFF9  14.311111  87.23
 2536 2019-10-04 08:54:49 -72.92374  41.31687   AFF9  14.361111  87.53
 2537 2019-10-04 08:54:50 -72.92371  41.31686   AFF9  14.422222  88.06
 2538 2019-10-04 16:58:37 -72.92357  41.31699   AFF9  17.877778  39.20

       Tw_Numerical   Tw_Stull
 0        13.784269  13.528803
 1        13.800059  13.545042
 2        13.800059  13.545042
 3        13.776779  13.521122
 4        13.769921  13.514082
 ...            ...        ...
 2534     13.026311  12.814683
 2535     13.070657  12.860437
 2536     13.148558  12.942451
 2537     13.260083  13.060863
 2538     10.632028  10.487304

 [2539 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-04 08:11:33 -72.90208  41.35795   AFF9  16.538889  74.11
 1    2019-10-04 08:11:34 -72.90210  41.35795   AFF9  16.550000  74.16
 2    2019-10-04 08:11:35 -72.90210  41.35795   AFF9  16.550000  74.16
 3    2019-10-04 08:11:36 -72.90210  41.35795   AFF9  16.522222  74.18
 4    2019-10-04 08:11:37 -72.90208  41.35793   AFF9  16.511111  74.21
 ...                  ...       ...       ...    ...        ...    ...
 2533 2019-10-04 08:54:46 -72.92372  41.31688   AFF9  14.272222  87.15
 2534 2019-10-04 08:54:47 -72.92372  41.31688   AFF9  14.272222  87.16
 2535 2019-10-04 08:54:48 -72.92374  41.31687   AFF9  14.311111  87.23
 2536 2019-10-04 08:54:49 -72.92374  41.31687   AFF9  14.361111  87.53
 2537 2019-10-04 08:54:50 -72.92371  41.31686   AFF9  14.422222  88.06

       Tw_Numerical   Tw_Stull
 0        13.784269  13.528803
 1        13.800059  13.545042
 2        13.800059  13.545042
 3        13.776779  13.521122
 4        13.769921  13.514082
 ...            ...        ...
 2533     13.025320  12.813583
 2534     13.026311  12.814683
 2535     13.070657  12.860437
 2536     13.148558  12.942451
 2537     13.260083  13.060863

 [2538 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-22 08:24:14 -72.90212  41.35793   AFF9  11.388889  76.60
 1    2019-10-22 08:24:15 -72.90213  41.35794   AFF9  11.400000  76.59
 2    2019-10-22 08:24:16 -72.90213  41.35794   AFF9  11.400000  76.62
 3    2019-10-22 08:24:17 -72.90214  41.35794   AFF9  11.400000  76.64
 4    2019-10-22 08:24:18 -72.90214  41.35795   AFF9  11.388889  76.69
 ...                  ...       ...       ...    ...        ...    ...
 3559 2019-10-22 17:42:55 -72.90223  41.35800   AFF9  14.500000  88.97
 3560 2019-10-22 17:42:56 -72.90221  41.35800   AFF9  14.477778  88.91
 3561 2019-10-22 17:42:57 -72.90221  41.35800   AFF9  14.477778  88.80
 3562 2019-10-22 17:42:58 -72.90219  41.35799   AFF9  14.477778  88.70
 3563 2019-10-22 17:42:59 -72.90219  41.35799   AFF9  14.500000  88.66

       Tw_Numerical   Tw_Stull
 0         9.286967   8.918485
 1         9.296341   8.928042
 2         9.299132   8.931064
 3         9.300992   8.933079
 4         9.295334   8.927548
 ...            ...        ...
 3559     13.425556  13.237961
 3560     13.398109  13.209477
 3561     13.387195  13.197287
 3562     13.377269  13.186207
 3563     13.394773  13.203594

 [3564 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-22 08:24:14 -72.90212  41.35793   AFF9  11.388889  76.60
 1    2019-10-22 08:24:15 -72.90213  41.35794   AFF9  11.400000  76.59
 2    2019-10-22 08:24:16 -72.90213  41.35794   AFF9  11.400000  76.62
 3    2019-10-22 08:24:17 -72.90214  41.35794   AFF9  11.400000  76.64
 4    2019-10-22 08:24:18 -72.90214  41.35795   AFF9  11.388889  76.69
 ...                  ...       ...       ...    ...        ...    ...
 1678 2019-10-22 08:53:14 -72.92377  41.31704   AFF9  11.527778  87.33
 1679 2019-10-22 08:53:15 -72.92377  41.31704   AFF9  11.522222  86.72
 1680 2019-10-22 08:53:16 -72.92377  41.31704   AFF9  11.522222  86.47
 1681 2019-10-22 08:53:17 -72.92378  41.31705   AFF9  11.538889  86.21
 1682 2019-10-22 08:53:18 -72.92378  41.31705   AFF9  11.527778  85.96

       Tw_Numerical   Tw_Stull
 0         9.286967   8.918485
 1         9.296341   8.928042
 2         9.299132   8.931064
 3         9.300992   8.933079
 4         9.295334   8.927548
 ...            ...        ...
 1678     10.402504  10.147544
 1679     10.341919  10.079055
 1680     10.319251  10.053239
 1681     10.311637  10.042672
 1682     10.278278  10.006039

 [1683 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-23 08:13:15 -72.90214  41.35793   AFF9  15.477778  76.35
 1    2019-10-23 08:13:21 -72.90226  41.35796   AFF9  15.361111  76.96
 2    2019-10-23 08:13:22 -72.90226  41.35796   AFF9  15.361111  76.96
 3    2019-10-23 08:13:28 -72.90225  41.35797   AFF9  15.372222  77.14
 4    2019-10-23 08:13:33 -72.90221  41.35794   AFF9  15.311111  77.23
 ...                  ...       ...       ...    ...        ...    ...
 1382 2019-10-23 17:30:34 -72.90227  41.35801   AFF9  17.161111  47.13
 1383 2019-10-23 17:30:35 -72.90227  41.35802   AFF9  17.188889  48.35
 1384 2019-10-23 17:30:36 -72.90227  41.35802   AFF9  17.250000  49.48
 1385 2019-10-23 17:30:37 -72.90227  41.35802   AFF9  17.288889  50.52
 1386 2019-10-23 17:30:38 -72.90227  41.35802   AFF9  17.261111  51.39

       Tw_Numerical   Tw_Stull
 0        13.050770  12.778270
 1        13.007728  12.735592
 2        13.007728  12.735592
 3        13.037198  12.766293
 4        12.989996  12.718144
 ...            ...        ...
 1382     11.106839  10.906639
 1383     11.284360  11.080417
 1384     11.477342  11.271293
 1385     11.640598  11.431979
 1386     11.727065  11.514073

 [1387 rows x 8 columns],
                   Time       Lon       Lat     ID       Temp     RH  \
 0  2019-10-23 08:13:15 -72.90214  41.35793   AFF9  15.477778  76.35
 1  2019-10-23 08:13:21 -72.90226  41.35796   AFF9  15.361111  76.96
 2  2019-10-23 08:13:22 -72.90226  41.35796   AFF9  15.361111  76.96
 3  2019-10-23 08:13:28 -72.90225  41.35797   AFF9  15.372222  77.14
 4  2019-10-23 08:13:33 -72.90221  41.35794   AFF9  15.311111  77.23
 ..                 ...       ...       ...    ...        ...    ...
 60 2019-10-23 08:14:30 -72.90213  41.35799   AFF9  13.861111  82.40
 61 2019-10-23 08:14:31 -72.90213  41.35799   AFF9  13.838889  82.49
 62 2019-10-23 08:14:32 -72.90213  41.35799   AFF9  13.911111  82.60
 63 2019-10-23 08:14:33 -72.90213  41.35799   AFF9  13.911111  82.70
 64 2019-10-23 08:14:35 -72.90214  41.35800   AFF9  13.961111  82.77

     Tw_Numerical   Tw_Stull
 0      13.050770  12.778270
 1      13.007728  12.735592
 2      13.007728  12.735592
 3      13.037198  12.766293
 4      12.989996  12.718144
 ..           ...        ...
 60     12.161433  11.895163
 61     12.149344  11.883433
 62     12.228664  11.965174
 63     12.238615  11.976023
 64     12.292958  12.031983

 [65 rows x 8 columns],
                    Time       Lon       Lat     ID       Temp     RH  \
 0   2019-10-25 08:07:02 -72.90230  41.35791   AFF9  12.250000  63.43
 1   2019-10-25 08:07:03 -72.90229  41.35792   AFF9  12.188889  63.46
 2   2019-10-25 08:07:04 -72.90229  41.35792   AFF9  12.177778  63.51
 3   2019-10-25 08:07:08 -72.90229  41.35792   AFF9  12.050000  63.77
 4   2019-10-25 08:07:09 -72.90229  41.35792   AFF9  11.988889  63.82
 ..                  ...       ...       ...    ...        ...    ...
 133 2019-10-25 08:09:20 -72.90225  41.35791   AFF9  10.788889  69.17
 134 2019-10-25 08:09:21 -72.90225  41.35791   AFF9  10.788889  69.18
 135 2019-10-25 08:09:23 -72.90226  41.35792   AFF9  10.811111  69.18
 136 2019-10-25 08:09:24 -72.90226  41.35792   AFF9  10.850000  69.15
 137 2019-10-25 17:21:15 -72.92358  41.31689   AFF9  20.577778  52.39

      Tw_Numerical   Tw_Stull
 0        8.795788   8.392527
 1        8.744998   8.339918
 2        8.740203   8.334853
 3        8.653486   8.244643
 4        8.604562   8.193954
 ..            ...        ...
 133      8.047250   7.618285
 134      8.048180   7.619259
 135      8.068224   7.639905
 136      8.100504   7.673108
 137     14.611584  14.520006

 [138 rows x 8 columns],
                    Time       Lon       Lat     ID       Temp     RH  \
 0   2019-10-25 08:07:02 -72.90230  41.35791   AFF9  12.250000  63.43
 1   2019-10-25 08:07:03 -72.90229  41.35792   AFF9  12.188889  63.46
 2   2019-10-25 08:07:04 -72.90229  41.35792   AFF9  12.177778  63.51
 3   2019-10-25 08:07:08 -72.90229  41.35792   AFF9  12.050000  63.77
 4   2019-10-25 08:07:09 -72.90229  41.35792   AFF9  11.988889  63.82
 ..                  ...       ...       ...    ...        ...    ...
 132 2019-10-25 08:09:19 -72.90224  41.35790   AFF9  10.750000  69.10
 133 2019-10-25 08:09:20 -72.90225  41.35791   AFF9  10.788889  69.17
 134 2019-10-25 08:09:21 -72.90225  41.35791   AFF9  10.788889  69.18
 135 2019-10-25 08:09:23 -72.90226  41.35792   AFF9  10.811111  69.18
 136 2019-10-25 08:09:24 -72.90226  41.35792   AFF9  10.850000  69.15

      Tw_Numerical  Tw_Stull
 0        8.795788  8.392527
 1        8.744998  8.339918
 2        8.740203  8.334853
 3        8.653486  8.244643
 4        8.604562  8.193954
 ..            ...       ...
 132      8.005676  7.575344
 133      8.047250  7.618285
 134      8.048180  7.619259
 135      8.068224  7.639905
 136      8.100504  7.673108

 [137 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-28 08:18:07 -72.90210  41.35797   AFF9  12.938889  78.92
 1    2019-10-28 09:20:52 -72.92332  41.31673   AFF9  18.527778  67.55
 2    2019-10-28 09:20:53 -72.92332  41.31673   AFF9  18.522222  67.60
 3    2019-10-28 09:20:54 -72.92322  41.31671   AFF9  18.527778  67.62
 4    2019-10-28 09:20:55 -72.92322  41.31671   AFF9  18.527778  67.60
 ...                  ...       ...       ...    ...        ...    ...
 1420 2019-10-28 17:42:32 -72.90218  41.35798   AFF9  13.761111  80.40
 1421 2019-10-28 17:42:33 -72.90218  41.35798   AFF9  13.722222  80.56
 1422 2019-10-28 17:42:34 -72.90217  41.35797   AFF9  13.738889  80.77
 1423 2019-10-28 17:42:36 -72.90217  41.35796   AFF9  13.727778  80.97
 1424 2019-10-28 17:42:37 -72.90217  41.35796   AFF9  13.761111  81.16

       Tw_Numerical   Tw_Stull
 0        10.951221  10.636297
 1        14.820649  14.611172
 2        14.821786  14.612119
 3        14.829199  14.619685
 4        14.826756  14.617253
 ...            ...        ...
 1420     11.867918  11.582679
 1421     11.847310  11.562532
 1422     11.883900  11.601188
 1423     11.893345  11.612050
 1424     11.943649  11.664634

 [1425 rows x 8 columns],
                  Time       Lon       Lat     ID       Temp     RH  \
 0 2019-10-28 08:18:07 -72.90210  41.35797   AFF9  12.938889  78.92
 1 2019-10-28 09:20:52 -72.92332  41.31673   AFF9  18.527778  67.55
 2 2019-10-28 09:20:53 -72.92332  41.31673   AFF9  18.522222  67.60
 3 2019-10-28 09:20:54 -72.92322  41.31671   AFF9  18.527778  67.62
 4 2019-10-28 09:20:55 -72.92322  41.31671   AFF9  18.527778  67.60
 5 2019-10-28 09:20:56 -72.92322  41.31671   AFF9  18.527778  67.64
 6 2019-10-28 09:20:58 -72.92322  41.31671   AFF9  18.527778  67.63
 7 2019-10-28 09:20:59 -72.92322  41.31671   AFF9  18.527778  67.67
 8 2019-10-28 09:21:00 -72.92322  41.31671   AFF9  18.527778  67.65
 9 2019-10-28 09:21:01 -72.92322  41.31671   AFF9  18.550000  67.67

    Tw_Numerical   Tw_Stull
 0     10.951221  10.636297
 1     14.820649  14.611172
 2     14.821786  14.612119
 3     14.829199  14.619685
 4     14.826756  14.617253
 5     14.831641  14.622117
 6     14.830420  14.620901
 7     14.835304  14.625765
 8     14.832862  14.623333
 9     14.855189  14.646306  ,
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-29 08:22:27 -72.90229  41.35797   AFF9  12.061111  84.69
 1    2019-10-29 08:22:28 -72.90229  41.35800   AFF9  12.061111  84.72
 2    2019-10-29 08:22:29 -72.90231  41.35798   AFF9  12.050000  84.85
 3    2019-10-29 08:22:30 -72.90227  41.35798   AFF9  12.050000  84.86
 4    2019-10-29 08:22:31 -72.90226  41.35797   AFF9  12.038889  84.85
 ...                  ...       ...       ...    ...        ...    ...
 1601 2019-10-29 08:49:45 -72.92362  41.31696   AFF9  11.500000  91.26
 1602 2019-10-29 08:49:46 -72.92362  41.31698   AFF9  11.522222  91.38
 1603 2019-10-29 08:49:47 -72.92360  41.31698   AFF9  11.561111  91.61
 1604 2019-10-29 08:49:48 -72.92360  41.31698   AFF9  11.561111  91.71
 1605 2019-10-29 17:09:49 -72.92393  41.31689   AFF9  22.422222  61.81

       Tw_Numerical   Tw_Stull
 0        10.671401  10.393737
 1        10.674188  10.396863
 2        10.675658  10.399601
 3        10.676586  10.400643
 4        10.665054  10.388795
 ...            ...        ...
 1601     10.728998  10.528507
 1602     10.761378  10.562989
 1603     10.819863  10.625462
 1604     10.828806  10.635919
 1605     17.507866  17.433977

 [1606 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-29 08:22:27 -72.90229  41.35797   AFF9  12.061111  84.69
 1    2019-10-29 08:22:28 -72.90229  41.35800   AFF9  12.061111  84.72
 2    2019-10-29 08:22:29 -72.90231  41.35798   AFF9  12.050000  84.85
 3    2019-10-29 08:22:30 -72.90227  41.35798   AFF9  12.050000  84.86
 4    2019-10-29 08:22:31 -72.90226  41.35797   AFF9  12.038889  84.85
 ...                  ...       ...       ...    ...        ...    ...
 1600 2019-10-29 08:49:44 -72.92362  41.31696   AFF9  11.461111  91.18
 1601 2019-10-29 08:49:45 -72.92362  41.31696   AFF9  11.500000  91.26
 1602 2019-10-29 08:49:46 -72.92362  41.31698   AFF9  11.522222  91.38
 1603 2019-10-29 08:49:47 -72.92360  41.31698   AFF9  11.561111  91.61
 1604 2019-10-29 08:49:48 -72.92360  41.31698   AFF9  11.561111  91.71

       Tw_Numerical   Tw_Stull
 0        10.671401  10.393737
 1        10.674188  10.396863
 2        10.675658  10.399601
 3        10.676586  10.400643
 4        10.665054  10.388795
 ...            ...        ...
 1600     10.683967  10.481749
 1601     10.728998  10.528507
 1602     10.761378  10.562989
 1603     10.819863  10.625462
 1604     10.828806  10.635919

 [1605 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp      RH  \
 0    2019-10-30 08:00:50 -72.90234  41.35789   AFF9  16.950000   91.25
 1    2019-10-30 08:00:51 -72.90234  41.35789   AFF9  16.972222   91.23

In [26]:
Dat_all_trimmed=[]
for item in Dat_all:
    Temp=item.iloc[120:]
    Temp=Temp[:-120]
    Dat_all_trimmed.append(Temp)

In [27]:
Dat_all_trimmed

[                    Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-02 08:10:15 -72.90222  41.35799   AFF9  23.311111  80.65
 121  2019-10-02 08:10:16 -72.90222  41.35799   AFF9  23.261111  80.65
 122  2019-10-02 08:10:17 -72.90222  41.35799   AFF9  23.261111  80.65
 123  2019-10-02 08:10:18 -72.90222  41.35799   AFF9  23.261111  80.67
 124  2019-10-02 08:10:19 -72.90222  41.35799   AFF9  23.277778  80.68
 ...                  ...       ...       ...    ...        ...    ...
 3686 2019-10-02 17:39:09 -72.90203  41.35565   AFF9  27.361111  66.32
 3687 2019-10-02 17:39:10 -72.90211  41.35569   AFF9  27.327778  66.40
 3688 2019-10-02 17:39:11 -72.90214  41.35571   AFF9  27.327778  66.40
 3689 2019-10-02 17:39:12 -72.90221  41.35577   AFF9  27.322222  66.42
 3690 2019-10-02 17:39:13 -72.90226  41.35581   AFF9  27.322222  66.49

       Tw_Numerical   Tw_Stull
 120      20.882117  20.794577
 121      20.834984  20.746489
 122      20.834984  20.746489
 123      20.837610  20.749146
 124      20.854635  20.766505
 ...            ...        ...
 3686     22.544116  22.588179
 3687     22.526868  22.569529
 3688     22.526868  22.569529
 3689     22.525036  22.567420
 3690     22.536011  22.577929

 [3571 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-02 08:10:15 -72.90222  41.35799   AFF9  23.311111  80.65
 121  2019-10-02 08:10:16 -72.90222  41.35799   AFF9  23.261111  80.65
 122  2019-10-02 08:10:17 -72.90222  41.35799   AFF9  23.261111  80.65
 123  2019-10-02 08:10:18 -72.90222  41.35799   AFF9  23.261111  80.67
 124  2019-10-02 08:10:19 -72.90222  41.35799   AFF9  23.277778  80.68
 ...                  ...       ...       ...    ...        ...    ...
 2157 2019-10-02 08:45:17 -72.92752  41.31703   AFF9  23.111111  83.22
 2158 2019-10-02 08:45:18 -72.92749  41.31699   AFF9  23.111111  83.22
 2159 2019-10-02 08:45:19 -72.92745  41.31694   AFF9  23.111111  83.17
 2160 2019-10-02 08:45:20 -72.92743  41.31689   AFF9  23.111111  83.14
 2161 2019-10-02 08:45:21 -72.92741  41.31685   AFF9  23.122222  83.08

       Tw_Numerical   Tw_Stull
 120      20.882117  20.794577
 121      20.834984  20.746489
 122      20.834984  20.746489
 123      20.837610  20.749146
 124      20.854635  20.766505
 ...            ...        ...
 2157     21.027639  20.942063
 2158     21.027639  20.942063
 2159     21.021180  20.935461
 2160     21.017303  20.931500
 2161     21.020110  20.934335

 [2042 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-03 08:14:05 -72.90233  41.35799   AFF9  15.127778  58.55
 121  2019-10-03 08:14:06 -72.90231  41.35799   AFF9  15.061111  58.89
 122  2019-10-03 08:14:07 -72.90231  41.35799   AFF9  14.988889  59.20
 123  2019-10-03 08:14:08 -72.90231  41.35799   AFF9  14.972222  59.46
 124  2019-10-03 08:14:09 -72.90228  41.35800   AFF9  14.872222  59.73
 ...                  ...       ...       ...    ...        ...    ...
 3473 2019-10-03 17:20:04 -72.90281  41.35327   AFF9  10.200000  95.12
 3474 2019-10-03 17:20:05 -72.90279  41.35326   AFF9  10.172222  95.08
 3475 2019-10-03 17:20:06 -72.90277  41.35328   AFF9  10.200000  95.04
 3476 2019-10-03 17:20:07 -72.90275  41.35330   AFF9  10.188889  95.03
 3477 2019-10-03 17:20:08 -72.90274  41.35333   AFF9  10.188889  94.96

       Tw_Numerical   Tw_Stull
 120      10.779598  10.470058
 121      10.760621  10.448310
 122      10.733254  10.418079
 123      10.748026  10.431962
 124      10.691836  10.372109
 ...            ...        ...
 3473      9.790312   9.637456
 3474      9.759549   9.605677
 3475      9.783550   9.629262
 3476      9.771754   9.617167
 3477      9.765838   9.610001

 [3358 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-03 08:14:05 -72.90233  41.35799   AFF9  15.127778  58.55
 121  2019-10-03 08:14:06 -72.90231  41.35799   AFF9  15.061111  58.89
 122  2019-10-03 08:14:07 -72.90231  41.35799   AFF9  14.988889  59.20
 123  2019-10-03 08:14:08 -72.90231  41.35799   AFF9  14.972222  59.46
 124  2019-10-03 08:14:09 -72.90228  41.35800   AFF9  14.872222  59.73
 ...                  ...       ...       ...    ...        ...    ...
 2027 2019-10-03 08:46:56 -72.92735  41.31649   AFF9  11.022222  79.38
 2028 2019-10-03 08:46:57 -72.92732  41.31644   AFF9  11.022222  79.40
 2029 2019-10-03 08:46:58 -72.92729  41.31638   AFF9  11.027778  79.46
 2030 2019-10-03 08:46:59 -72.92728  41.31632   AFF9  11.022222  79.45
 2031 2019-10-03 08:47:00 -72.92725  41.31626   AFF9  11.022222  79.45

       Tw_Numerical   Tw_Stull
 120      10.779598  10.470058
 121      10.760621  10.448310
 122      10.733254  10.418079
 123      10.748026  10.431962
 124      10.691836  10.372109
 ...            ...        ...
 2027      9.200918   8.847822
 2028      9.202738   8.849828
 2029      9.213403   8.861173
 2030      9.207287   8.854844
 2031      9.207287   8.854844

 [1912 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-04 08:13:33 -72.90225  41.35805   AFF9  14.961111  78.69
 121  2019-10-04 08:13:34 -72.90221  41.35803   AFF9  14.850000  78.89
 122  2019-10-04 08:13:35 -72.90220  41.35802   AFF9  14.777778  79.21
 123  2019-10-04 08:13:36 -72.90216  41.35801   AFF9  14.761111  79.43
 124  2019-10-04 08:13:37 -72.90214  41.35801   AFF9  14.800000  79.68
 ...                  ...       ...       ...    ...        ...    ...
 2414 2019-10-04 08:52:42 -72.92655  41.31605   AFF9  14.000000  87.00
 2415 2019-10-04 08:52:43 -72.92649  41.31606   AFF9  13.988889  86.94
 2416 2019-10-04 08:52:44 -72.92646  41.31606   AFF9  14.027778  86.99
 2417 2019-10-04 08:52:45 -72.92641  41.31606   AFF9  14.050000  87.05
 2418 2019-10-04 08:52:46 -72.92636  41.31605   AFF9  14.127778  87.22

       Tw_Numerical   Tw_Stull
 120      12.817656  12.546428
 121      12.734673  12.462247
 122      12.700335  12.428432
 123      12.707508  12.436736
 124      12.769814  12.501624
 ...            ...        ...
 2414     12.748797  12.530883
 2415     12.732219  12.513457
 2416     12.774511  12.556951
 2417     12.801779  12.585251
 2418     12.893327  12.679966

 [2299 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-04 08:13:33 -72.90225  41.35805   AFF9  14.961111  78.69
 121  2019-10-04 08:13:34 -72.90221  41.35803   AFF9  14.850000  78.89
 122  2019-10-04 08:13:35 -72.90220  41.35802   AFF9  14.777778  79.21
 123  2019-10-04 08:13:36 -72.90216  41.35801   AFF9  14.761111  79.43
 124  2019-10-04 08:13:37 -72.90214  41.35801   AFF9  14.800000  79.68
 ...                  ...       ...       ...    ...        ...    ...
 2413 2019-10-04 08:52:41 -72.92663  41.31603   AFF9  14.000000  87.07
 2414 2019-10-04 08:52:42 -72.92655  41.31605   AFF9  14.000000  87.00
 2415 2019-10-04 08:52:43 -72.92649  41.31606   AFF9  13.988889  86.94
 2416 2019-10-04 08:52:44 -72.92646  41.31606   AFF9  14.027778  86.99
 2417 2019-10-04 08:52:45 -72.92641  41.31606   AFF9  14.050000  87.05

       Tw_Numerical   Tw_Stull
 120      12.817656  12.546428
 121      12.734673  12.462247
 122      12.700335  12.428432
 123      12.707508  12.436736
 124      12.769814  12.501624
 ...            ...        ...
 2413     12.755681  12.538540
 2414     12.748797  12.530883
 2415     12.732219  12.513457
 2416     12.774511  12.556951
 2417     12.801779  12.585251

 [2298 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-22 08:26:21 -72.90635  41.35994   AFF9  10.450000  81.12
 121  2019-10-22 08:26:22 -72.90640  41.35999   AFF9  10.477778  81.22
 122  2019-10-22 08:26:23 -72.90644  41.36004   AFF9  10.500000  81.29
 123  2019-10-22 08:26:24 -72.90647  41.36009   AFF9  10.500000  81.36
 124  2019-10-22 08:26:25 -72.90649  41.36013   AFF9  10.500000  81.39
 ...                  ...       ...       ...    ...        ...    ...
 3439 2019-10-22 17:40:47 -72.90163  41.35900   AFF9  14.450000  87.90
 3440 2019-10-22 17:40:48 -72.90158  41.35899   AFF9  14.477778  87.89
 3441 2019-10-22 17:40:49 -72.90154  41.35899   AFF9  14.427778  87.90
 3442 2019-10-22 17:40:51 -72.90144  41.35897   AFF9  14.422222  87.92
 3443 2019-10-22 17:40:52 -72.90140  41.35895   AFF9  14.422222  87.86

       Tw_Numerical   Tw_Stull
 120       8.819509   8.471641
 121       8.854568   8.508322
 122       8.881738   8.536684
 123       8.887953   8.543642
 124       8.890617   8.546625
 ...            ...        ...
 3439     13.270965  13.070398
 3440     13.296747  13.096514
 3441     13.249543  13.048620
 3442     13.246175  13.045386
 3443     13.240213  13.038754

 [3324 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-22 08:26:21 -72.90635  41.35994   AFF9  10.450000  81.12
 121  2019-10-22 08:26:22 -72.90640  41.35999   AFF9  10.477778  81.22
 122  2019-10-22 08:26:23 -72.90644  41.36004   AFF9  10.500000  81.29
 123  2019-10-22 08:26:24 -72.90647  41.36009   AFF9  10.500000  81.36
 124  2019-10-22 08:26:25 -72.90649  41.36013   AFF9  10.500000  81.39
 ...                  ...       ...       ...    ...        ...    ...
 1558 2019-10-22 08:51:07 -72.92450  41.31610   AFF9  11.372222  80.43
 1559 2019-10-22 08:51:08 -72.92450  41.31610   AFF9  11.388889  80.37
 1560 2019-10-22 08:51:09 -72.92450  41.31610   AFF9  11.400000  80.24
 1561 2019-10-22 08:51:10 -72.92450  41.31610   AFF9  11.400000  80.23
 1562 2019-10-22 08:51:11 -72.92450  41.31612   AFF9  11.422222  80.26

       Tw_Numerical  Tw_Stull
 120       8.819509  8.471641
 121       8.854568  8.508322
 122       8.881738  8.536684
 123       8.887953  8.543642
 124       8.890617  8.546625
 ...            ...       ...
 1558      9.625389  9.289695
 1559      9.635543  9.299624
 1560      9.634027  9.297105
 1561      9.633107  9.296090
 1562      9.656747  9.320485

 [1443 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-23 17:07:27 -72.92354  41.31700   AFF9  19.627778  30.78
 121  2019-10-23 17:07:28 -72.92354  41.31700   AFF9  19.622222  30.94
 122  2019-10-23 17:07:29 -72.92354  41.31700   AFF9  19.588889  31.17
 123  2019-10-23 17:07:31 -72.92354  41.31700   AFF9  19.550000  31.41
 124  2019-10-23 17:07:32 -72.92354  41.31700   AFF9  19.527778  31.67
 ...                  ...       ...       ...    ...        ...    ...
 1262 2019-10-23 17:28:23 -72.90278  41.35334   AFF9  16.977778  37.23
 1263 2019-10-23 17:28:24 -72.90278  41.35335   AFF9  16.977778  37.37
 1264 2019-10-23 17:28:25 -72.90278  41.35335   AFF9  17.011111  37.53
 1265 2019-10-23 17:28:26 -72.90278  41.35336   AFF9  17.027778  37.64
 1266 2019-10-23 17:28:27 -72.90278  41.35337   AFF9  17.027778  37.89

       Tw_Numerical   Tw_Stull
 120      10.736777  10.656945
 121      10.756819  10.677489
 122      10.767226  10.687581
 123      10.774968  10.694763
 124      10.797658  10.717537
 ...            ...        ...
 1262      9.680123   9.505030
 1263      9.698580   9.523221
 1264      9.745073   9.570655
 1265      9.772291   9.598280
 1266      9.805248   9.630716

 [1147 rows x 8 columns],
 Empty DataFrame
 Columns: [Time, Lon, Lat, ID, Temp, RH, Tw_Numerical, Tw_Stull]
 Index: [],
 Empty DataFrame
 Columns: [Time, Lon, Lat, ID, Temp, RH, Tw_Numerical, Tw_Stull]
 Index: [],
 Empty DataFrame
 Columns: [Time, Lon, Lat, ID, Temp, RH, Tw_Numerical, Tw_Stull]
 Index: [],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-28 17:19:56 -72.92381  41.31690   AFF9  18.711111  60.85
 121  2019-10-28 17:19:57 -72.92380  41.31689   AFF9  18.711111  60.99
 122  2019-10-28 17:19:58 -72.92380  41.31689   AFF9  18.700000  61.02
 123  2019-10-28 17:19:59 -72.92380  41.31689   AFF9  18.711111  61.10
 124  2019-10-28 17:20:00 -72.92380  41.31689   AFF9  18.711111  61.12
 ...                  ...       ...       ...    ...        ...    ...
 1300 2019-10-28 17:40:30 -72.90278  41.35334   AFF9  13.638889  80.03
 1301 2019-10-28 17:40:31 -72.90278  41.35335   AFF9  13.600000  80.05
 1302 2019-10-28 17:40:32 -72.90274  41.35336   AFF9  13.600000  80.10
 1303 2019-10-28 17:40:33 -72.90275  41.35338   AFF9  13.588889  80.15
 1304 2019-10-28 17:40:34 -72.90273  41.35342   AFF9  13.588889  80.14

       Tw_Numerical   Tw_Stull
 120      14.149423  13.956908
 121      14.167127  13.974237
 122      14.161267  13.967925
 123      14.181030  13.987849
 124      14.183557  13.990323
 ...            ...        ...
 1300     11.716267  11.425457
 1301     11.681755  11.390265
 1302     11.686722  11.395630
 1303     11.681256  11.390324
 1304     11.680263  11.389251

 [1185 rows x 8 columns],
 Empty DataFrame
 Columns: [Time, Lon, Lat, ID, Temp, RH, Tw_Numerical, Tw_Stull]
 Index: [],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-29 08:24:29 -72.90632  41.35957   AFF9  10.700000  90.08
 121  2019-10-29 08:24:30 -72.90629  41.35964   AFF9  10.677778  90.09
 122  2019-10-29 08:24:31 -72.90626  41.35971   AFF9  10.672222  90.14
 123  2019-10-29 08:24:32 -72.90624  41.35977   AFF9  10.672222  90.17
 124  2019-10-29 08:24:33 -72.90622  41.35982   AFF9  10.672222  90.17
 ...                  ...       ...       ...    ...        ...    ...
 1481 2019-10-29 08:47:42 -72.92555  41.31626   AFF9  11.238889  90.99
 1482 2019-10-29 08:47:43 -72.92548  41.31627   AFF9  11.238889  91.00
 1483 2019-10-29 08:47:44 -72.92542  41.31627   AFF9  11.261111  90.98
 1484 2019-10-29 08:47:45 -72.92536  41.31628   AFF9  11.288889  90.99
 1485 2019-10-29 08:47:46 -72.92529  41.31626   AFF9  11.238889  90.93

       Tw_Numerical   Tw_Stull
 120       9.846772   9.617410
 121       9.826071   9.596538
 122       9.825034   9.596170
 123       9.827648   9.599234
 124       9.827648   9.599234
 ...            ...        ...
 1481     10.450668  10.242549
 1482     10.451554  10.243585
 1483     10.471414  10.263452
 1484     10.499343  10.291914
 1485     10.445349  10.236329

 [1366 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-29 08:24:29 -72.90632  41.35957   AFF9  10.700000  90.08
 121  2019-10-29 08:24:30 -72.90629  41.35964   AFF9  10.677778  90.09
 122  2019-10-29 08:24:31 -72.90626  41.35971   AFF9  10.672222  90.14
 123  2019-10-29 08:24:32 -72.90624  41.35977   AFF9  10.672222  90.17
 124  2019-10-29 08:24:33 -72.90622  41.35982   AFF9  10.672222  90.17
 ...                  ...       ...       ...    ...        ...    ...
 1480 2019-10-29 08:47:41 -72.92561  41.31625   AFF9  11.238889  90.99
 1481 2019-10-29 08:47:42 -72.92555  41.31626   AFF9  11.238889  90.99
 1482 2019-10-29 08:47:43 -72.92548  41.31627   AFF9  11.238889  91.00
 1483 2019-10-29 08:47:44 -72.92542  41.31627   AFF9  11.261111  90.98
 1484 2019-10-29 08:47:45 -72.92536  41.31628   AFF9  11.288889  90.99

       Tw_Numerical   Tw_Stull
 120       9.846772   9.617410
 121       9.826071   9.596538
 122       9.825034   9.596170
 123       9.827648   9.599234
 124       9.827648   9.599234
 ...            ...        ...
 1480     10.450668  10.242549
 1481     10.450668  10.242549
 1482     10.451554  10.243585
 1483     10.471414  10.263452
 1484     10.499343  10.291914

 [1365 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp      RH  \
 120  2019-10-30 08:02:51 -72.90592  41.35907   AFF9  13.600000   97.98
 121  2019-10-30 08:02:52 -72.90603  41.35909   AFF9  13.622222   98.01
 122  2019-10-30 08:02:53 -72.90612  41.35911   AFF9  13.622222   98.04
 123  2019-10-30 08:02:54 -72.90622  41.35914   AFF9  13.561111   98.10
 124  2019-10-30 08:02:55 -72.90631  41.35916   AFF9  13.561111   98.11
 ...                  ...       ...       ...    ...        ...     ...
 9686 2019-10-30 17:20:31 -72.90275  41.35273   AFF9  16.811111  100.00
 9687 2019-10-30 17:20:32 -72.90275  41.35279   AFF9  16.811111  100.00
 9688 2019-10-30 17:20:33 -72.90274  41.35284   AFF9  16.777778  100.00
 9689 2019-10-30 17:20:34 -72.90274  41.35290   AFF9  16.772222  100.00
 9690 2019-10-30 17:20:35 -72.90274  41.35296   AFF9  16.750000  100.00

       Tw_Numerical   Tw_Stull
 120      13.411408  13.341220
 121      13.436314  13.366822
 122      13.439125  13.370139
 123      13.383969  13.315473
 124      13.384904  13.316578
 ...            ...        ...
 9686     16.811111  16.798728
 9687     16.811111  16.798728
 9688     16.777778  16.765159
 9689     16.772222  16.759564
 9690     16.750000  16.737184

 [9571 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-30 08:02:51 -72.90592  41.35907   AFF9  13.600000  97.98
 121  2019-10-30 08:02:52 -72.90603  41.35909   AFF9  13.622222  98.01
 122  2019-10-30 08:02:53 -72.90612  41.35911   AFF9  13.622222  98.04
 123  2019-10-30 08:02:54 -72.90622  41.35914   AFF9  13.561111  98.10
 124  2019-10-30 08:02:55 -72.90631  41.35916   AFF9  13.561111  98.11
 ...                  ...       ...       ...    ...        ...    ...
 1517 2019-10-30 08:26:50 -72.92425  41.31660   AFF9  14.177778  99.24
 1518 2019-10-30 08:26:51 -72.92424  41.31664   AFF9  14.150000  99.08
 1519 2019-10-30 08:26:52 -72.92423  41.31668   AFF9  14.200000  99.00
 1520 2019-10-30 08:26:53 -72.92422  41.31671   AFF9  14.272222  98.89
 1521 2019-10-30 08:26:54 -72.92422  41.31671   AFF9  14.222222  98.85

       Tw_Numerical   Tw_Stull
 120      13.411408  13.341220
 121      13.436314  13.366822
 122      13.439125  13.370139
 123      13.383969  13.315473
 124      13.384904  13.316578
 ...            ...        ...
 1517     14.105718  14.061576
 1518     14.062819  14.015740
 1519     14.105083  14.057039
 1520     14.166618  14.117288
 1521     14.112968  14.062569

 [1402 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 120  2019-10-31 08:25:21 -72.90652  41.36032   AFF9  16.211111  99.60
 121  2019-10-31 08:25:22 -72.90652  41.36032   AFF9  16.227778  99.68
 122  2019-10-31 08:25:23 -72.90652  41.36032   AFF9  16.227778  99.65
 123  2019-10-31 08:25:24 -72.90647  41.36065   AFF9  16.261111  99.70
 124  2019-10-31 08:25:25 -72.90649  41.36070   AFF9  16.261111  99.72
 ...                  ...       ...       ...    ...        ...    ...
 2443 2019-10-31 17:15:17 -72.90263  41.35179   AFF9  20.027778  92.52
 2444 2019-10-31 17:15:18 -72.90264  41.35184   AFF9  20.038889  92.57
 2445 2019-10-31 17:15:19 -72.90265  41.35190   AFF9  20.027778  92.61
 2446 2019-10-31 17:15:20 -72.90267  41.35197   AFF9  19.988889  92.67
 2447 2019-10-31 17:15:21 -72.90268  41.35202   AFF9  20.000000  92.67

       Tw_Numerical   Tw_Stull
 120      16.170908  16.147942
 121      16.195605  16.174021
 122      16.192587  16.170531
 123      16.230922  16.209897
 124      16.232936  16.212226
 ...            ...        ...
 2443     19.184121  19.109584
 2444     19.200725  19.126795
 2445     19.194430  19.120745
 2446     19.163222  19.089642
 2447     19.174102  19.100655

 [2328 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp      RH  \
 120  2019-10-31 08:25:21 -72.90652  41.36032   AFF9  16.211111   99.60
 121  2019-10-31 08:25:22 -72.90652  41.36032   AFF9  16.227778   99.68
 122  2019-10-31 08:25:23 -72.90652  41.36032   AFF9  16.227778   99.65
 123  2019-10-31 08:25:24 -72.90647  41.36065   AFF9  16.261111   99.70
 124  2019-10-31 08:25:25 -72.90649  41.36070   AFF9  16.261111   99.72
 ...                  ...       ...       ...    ...        ...     ...
 1421 2019-10-31 08:47:26 -72.92582  41.31613   AFF9  18.122222  100.00
 1422 2019-10-31 08:47:27 -72.92576  41.31614   AFF9  18.088889  100.00
 1423 2019-10-31 08:47:28 -72.92568  41.31613   AFF9  18.072222  100.00
 1424 2019-10-31 08:47:29 -72.92560  41.31612   AFF9  18.088889  100.00

In [28]:
#Concatanate into one data frame
result= pd.concat(Dat_all_trimmed, ignore_index=True)
result
##Remove duplicate datetimes
result=result.drop_duplicates(subset=['Time']).sort_values(['Time']).reset_index()
result

,index,Time,Lon,Lat,ID,Temp,RH,Tw_Numerical,Tw_Stull
0,0,2019-10-02 08:10:15,-72.90222,41.35799,AFF9,23.311111,80.65,20.882117,20.794577
1,1,2019-10-02 08:10:16,-72.90222,41.35799,AFF9,23.261111,80.65,20.834984,20.746489
2,2,2019-10-02 08:10:17,-72.90222,41.35799,AFF9,23.261111,80.65,20.834984,20.746489
3,3,2019-10-02 08:10:18,-72.90222,41.35799,AFF9,23.261111,80.67,20.837610,20.749146
4,4,2019-10-02 08:10:19,-72.90222,41.35799,AFF9,23.277778,80.68,20.854635,20.766505
...,...,...,...,...,...,...,...,...,...
105923,132492,2020-03-12 13:42:22,-72.90227,41.35583,AFF9,8.722222,60.49,5.429262,4.918723
105924,132493,2020-03-12 13:42:24,-72.90250,41.35608,AFF9,8.722222,60.51,5.431016,4.920496
105925,132494,2020-03-12 13:42:25,-72.90250,41.35608,AFF9,8.722222,60.55,5.434522,4.924041
105926,132495,2020-03-12 13:42:26,-72.90249,41.35615,AFF9,8.688889,60.57,5.407179,4.895791
105927,132496,2020-03-12 13:42:27,-72.90247,41.35621,AFF9,8.700000,60.57,5.416878,4.905798

In [29]:
## Add Biked and Date column
result['Date']=np.nan
result['Date_all']=np.nan
result['Biked']=np.nan
kk=0
for index, row in result.iterrows():
    result['Date_all'][index]=str(result['Time'][kk])  
    if (index<=len(result)-2):
        if(((result['Time'][index+1]-result['Time'][index]).seconds>=300)):
            result['Biked'][kk]=(result['Time'][index]-result['Time'][kk]).seconds/60
            result['Date'][kk]=str(result['Time'][kk])
            result['Date_all'][index]=str(result['Time'][kk])
            kk=index+1
    else:
        result['Biked'][kk]=(result['Time'][index]-result['Time'][kk]).seconds/60
        result['Date'][kk]=str(result['Time'][kk])
        result['Date_all'][index]=str(result['Time'][kk])
        kk=index+1
        #result['Biked'][index]=np.nan
        #result['Date'][index]=np.nan
#     if (index==0):
#         #result['Biked'][index]=np.nan
#         #result['Date'][index]=np.nan
#         result['Date_all'][index]=str(result['Time'][index])
#         result['Date'][index]=str(result['Time'][index])
#         result['Biked'][index]=(result['Time'][kk]-result['Time'][index]).seconds/60

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\tirth\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
#Fin=result[(result['Biked']<=240) | (result['Biked']).isnull()]
#Remove cases where someone biked for 0 time
Fin=result[(result['Biked']>=5) | (result['Biked']).isnull()]
Fin=Fin[['Time', 'Lon', 'Lat', 'ID', 'Temp', 'RH', 'Biked','Date','Date_all','Tw_Numerical','Tw_Stull']]
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull
0,2019-10-02 08:10:15,-72.90222,41.35799,AFF9,23.311111,80.65,37.35,2019-10-02 08:10:15,2019-10-02 08:10:15,20.882117,20.794577
1,2019-10-02 08:10:16,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489
2,2019-10-02 08:10:17,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489
3,2019-10-02 08:10:18,-72.90222,41.35799,AFF9,23.261111,80.67,NaN,NaN,2019-10-02 08:10:15,20.837610,20.749146
4,2019-10-02 08:10:19,-72.90222,41.35799,AFF9,23.277778,80.68,NaN,NaN,2019-10-02 08:10:15,20.854635,20.766505
...,...,...,...,...,...,...,...,...,...,...,...
105923,2020-03-12 13:42:22,-72.90227,41.35583,AFF9,8.722222,60.49,NaN,NaN,2020-03-12 13:20:58,5.429262,4.918723
105924,2020-03-12 13:42:24,-72.90250,41.35608,AFF9,8.722222,60.51,NaN,NaN,2020-03-12 13:20:58,5.431016,4.920496
105925,2020-03-12 13:42:25,-72.90250,41.35608,AFF9,8.722222,60.55,NaN,NaN,2020-03-12 13:20:58,5.434522,4.924041
105926,2020-03-12 13:42:26,-72.90249,41.35615,AFF9,8.688889,60.57,NaN,NaN,2020-03-12 13:20:58,5.407179,4.895791
105927,2020-03-12 13:42:27,-72.90247,41.35621,AFF9,8.700000,60.57,NaN,NaN,2020-03-12 13:20:58,5.416878,4.905798

In [36]:
Fin['Temp_norm'] = Fin.groupby('Date_all')['Temp'].transform('mean')
Fin['Temp_norm'] = Fin['Temp']-Fin['Temp_norm']
Fin['RH_norm'] = Fin.groupby('Date_all')['RH'].transform('mean')
Fin['RH_norm'] = Fin['RH']-Fin['RH_norm']
Fin['Tw_Numerical_norm'] = Fin.groupby('Date_all')['Tw_Numerical'].transform('mean')
Fin['Tw_Numerical_norm'] = Fin['Tw_Numerical']-Fin['Tw_Numerical_norm']
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull,Temp_norm,RH_norm,Tw_Numerical_norm
0,2019-10-02 08:10:15,-72.90222,41.35799,AFF9,23.311111,80.65,37.35,2019-10-02 08:10:15,2019-10-02 08:10:15,20.882117,20.794577,0.799504,-4.218506,0.224226
1,2019-10-02 08:10:16,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489,0.749504,-4.218506,0.177094
2,2019-10-02 08:10:17,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489,0.749504,-4.218506,0.177094
3,2019-10-02 08:10:18,-72.90222,41.35799,AFF9,23.261111,80.67,NaN,NaN,2019-10-02 08:10:15,20.837610,20.749146,0.749504,-4.198506,0.179719
4,2019-10-02 08:10:19,-72.90222,41.35799,AFF9,23.277778,80.68,NaN,NaN,2019-10-02 08:10:15,20.854635,20.766505,0.766171,-4.188506,0.196745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105923,2020-03-12 13:42:22,-72.90227,41.35583,AFF9,8.722222,60.49,NaN,NaN,2020-03-12 13:20:58,5.429262,4.918723,-0.698591,0.153363,-0.577750
105924,2020-03-12 13:42:24,-72.90250,41.35608,AFF9,8.722222,60.51,NaN,NaN,2020-03-12 13:20:58,5.431016,4.920496,-0.698591,0.173363,-0.575996
105925,2020-03-12 13:42:25,-72.90250,41.35608,AFF9,8.722222,60.55,NaN,NaN,2020-03-12 13:20:58,5.434522,4.924041,-0.698591,0.213363,-0.572489
105926,2020-03-12 13:42:26,-72.90249,41.35615,AFF9,8.688889,60.57,NaN,NaN,2020-03-12 13:20:58,5.407179,4.895791,-0.731924,0.233363,-0.599832
105927,2020-03-12 13:42:27,-72.90247,41.35621,AFF9,8.700000,60.57,NaN,NaN,2020-03-12 13:20:58,5.416878,4.905798,-0.720813,0.233363,-0.590133

In [35]:
Fin['Temp_norm'][Fin['Temp_norm'] > Fin['Temp_norm'].quantile(0.95)] = np.nan
Fin['Temp_norm'][Fin['Temp_norm'] < Fin['Temp_norm'].quantile(0.05)] = np.nan
Fin['RH_norm'][Fin['RH_norm'] > Fin['RH_norm'].quantile(0.95)] = np.nan
Fin['RH_norm'][Fin['RH_norm'] < Fin['RH_norm'].quantile(0.05)] = np.nan
Fin['Tw_Numerical_norm'][Fin['Tw_Numerical_norm'] > Fin['Tw_Numerical_norm'].quantile(0.95)] = np.nan
Fin['Tw_Numerical_norm'][Fin['Tw_Numerical_norm'] < Fin['Tw_Numerical_norm'].quantile(0.05)] = np.nan

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [37]:
Temp_ind = Fin.groupby('Date_all')['Temp_norm'].cumcount() % 9
RH_ind = Fin.groupby('Date_all')['RH_norm'].cumcount() % 9
Tw_ind = Fin.groupby('Date_all')['Tw_Numerical_norm'].cumcount() % 9
Fin['Temp_norm'][Temp_ind != 0]=np.nan
Fin['RH_norm'][Temp_ind != 0]=np.nan
Fin['Tw_Numerical_norm'][Temp_ind != 0]=np.nan
Fin

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull,Temp_norm,RH_norm,Tw_Numerical_norm
0,2019-10-02 08:10:15,-72.90222,41.35799,AFF9,23.311111,80.65,37.35,2019-10-02 08:10:15,2019-10-02 08:10:15,20.882117,20.794577,0.799504,-4.218506,0.224226
1,2019-10-02 08:10:16,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489,NaN,NaN,NaN
2,2019-10-02 08:10:17,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489,NaN,NaN,NaN
3,2019-10-02 08:10:18,-72.90222,41.35799,AFF9,23.261111,80.67,NaN,NaN,2019-10-02 08:10:15,20.837610,20.749146,NaN,NaN,NaN
4,2019-10-02 08:10:19,-72.90222,41.35799,AFF9,23.277778,80.68,NaN,NaN,2019-10-02 08:10:15,20.854635,20.766505,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105923,2020-03-12 13:42:22,-72.90227,41.35583,AFF9,8.722222,60.49,NaN,NaN,2020-03-12 13:20:58,5.429262,4.918723,NaN,NaN,NaN
105924,2020-03-12 13:42:24,-72.90250,41.35608,AFF9,8.722222,60.51,NaN,NaN,2020-03-12 13:20:58,5.431016,4.920496,NaN,NaN,NaN
105925,2020-03-12 13:42:25,-72.90250,41.35608,AFF9,8.722222,60.55,NaN,NaN,2020-03-12 13:20:58,5.434522,4.924041,NaN,NaN,NaN
105926,2020-03-12 13:42:26,-72.90249,41.35615,AFF9,8.688889,60.57,NaN,NaN,2020-03-12 13:20:58,5.407179,4.895791,NaN,NaN,NaN
105927,2020-03-12 13:42:27,-72.90247,41.35621,AFF9,8.700000,60.57,NaN,NaN,2020-03-12 13:20:58,5.416878,4.905798,-0.720813,0.233363,-0.590133

In [38]:
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull,Temp_norm,RH_norm,Tw_Numerical_norm
0,2019-10-02 08:10:15,-72.90222,41.35799,AFF9,23.311111,80.65,37.35,2019-10-02 08:10:15,2019-10-02 08:10:15,20.882117,20.794577,0.799504,-4.218506,0.224226
1,2019-10-02 08:10:16,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489,NaN,NaN,NaN
2,2019-10-02 08:10:17,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489,NaN,NaN,NaN
3,2019-10-02 08:10:18,-72.90222,41.35799,AFF9,23.261111,80.67,NaN,NaN,2019-10-02 08:10:15,20.837610,20.749146,NaN,NaN,NaN
4,2019-10-02 08:10:19,-72.90222,41.35799,AFF9,23.277778,80.68,NaN,NaN,2019-10-02 08:10:15,20.854635,20.766505,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105923,2020-03-12 13:42:22,-72.90227,41.35583,AFF9,8.722222,60.49,NaN,NaN,2020-03-12 13:20:58,5.429262,4.918723,NaN,NaN,NaN
105924,2020-03-12 13:42:24,-72.90250,41.35608,AFF9,8.722222,60.51,NaN,NaN,2020-03-12 13:20:58,5.431016,4.920496,NaN,NaN,NaN
105925,2020-03-12 13:42:25,-72.90250,41.35608,AFF9,8.722222,60.55,NaN,NaN,2020-03-12 13:20:58,5.434522,4.924041,NaN,NaN,NaN
105926,2020-03-12 13:42:26,-72.90249,41.35615,AFF9,8.688889,60.57,NaN,NaN,2020-03-12 13:20:58,5.407179,4.895791,NaN,NaN,NaN
105927,2020-03-12 13:42:27,-72.90247,41.35621,AFF9,8.700000,60.57,NaN,NaN,2020-03-12 13:20:58,5.416878,4.905798,-0.720813,0.233363,-0.590133

In [39]:
Fin.to_csv('Compiled_Sara_norm.csv')

In [40]:
ss=Fin.groupby('Date').max()
Final=pd.DataFrame(ss.index)

Final[Final['Date']==""]=np.nan
Final=Final.dropna()
Final

                   Date
0   2019-10-02 08:10:15
1   2019-10-02 17:13:48
2   2019-10-03 08:14:05
3   2019-10-03 16:57:48
4   2019-10-04 08:13:33
5   2019-10-22 08:26:21
6   2019-10-22 17:12:18
7   2019-10-23 17:07:27
8   2019-10-28 17:19:56
9   2019-10-29 08:24:29
10  2019-10-30 08:02:51
11  2019-10-30 16:57:41
12  2019-10-31 08:25:21
13  2019-10-31 16:59:50
14  2019-11-15 08:04:06
15  2019-11-15 15:23:38
16  2019-11-20 08:17:55
17  2019-11-20 17:00:14
18  2019-11-22 08:29:58
19  2019-11-22 16:14:08
20  2019-11-25 08:05:42
21  2019-11-25 16:28:14
22  2020-02-24 08:26:53
23  2020-02-24 17:13:06
24  2020-02-25 08:16:34
25  2020-02-25 18:01:21
26  2020-02-26 08:16:48
27  2020-02-26 17:05:19
28  2020-02-27 08:24:34
29  2020-02-27 16:44:25
30  2020-02-28 08:30:11
31  2020-02-28 15:01:48
32  2020-03-02 17:02:19
33  2020-03-03 08:20:34
34  2020-03-03 17:15:10
35  2020-03-04 08:26:56
36  2020-03-04 16:56:11
37  2020-03-05 08:16:28
38  2020-03-06 08:04:33
39  2020-03-06 16:19:59
40  2020-03-09 08:23:54
41  2020-03-09 17:34:01
42  2020-03-10 17:04:34
43  2020-03-11 08:28:19
44  2020-03-11 17:11:50
45  2020-03-12 08:49:58
46  2020-03-12 13:20:58

In [41]:
Final.to_csv('Compiled_Sara_Date.csv')

In [42]:
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull,Temp_norm,RH_norm,Tw_Numerical_norm
0,2019-10-02 08:10:15,-72.90222,41.35799,AFF9,23.311111,80.65,37.35,2019-10-02 08:10:15,2019-10-02 08:10:15,20.882117,20.794577,0.799504,-4.218506,0.224226
1,2019-10-02 08:10:16,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489,NaN,NaN,NaN
2,2019-10-02 08:10:17,-72.90222,41.35799,AFF9,23.261111,80.65,NaN,NaN,2019-10-02 08:10:15,20.834984,20.746489,NaN,NaN,NaN
3,2019-10-02 08:10:18,-72.90222,41.35799,AFF9,23.261111,80.67,NaN,NaN,2019-10-02 08:10:15,20.837610,20.749146,NaN,NaN,NaN
4,2019-10-02 08:10:19,-72.90222,41.35799,AFF9,23.277778,80.68,NaN,NaN,2019-10-02 08:10:15,20.854635,20.766505,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105923,2020-03-12 13:42:22,-72.90227,41.35583,AFF9,8.722222,60.49,NaN,NaN,2020-03-12 13:20:58,5.429262,4.918723,NaN,NaN,NaN
105924,2020-03-12 13:42:24,-72.90250,41.35608,AFF9,8.722222,60.51,NaN,NaN,2020-03-12 13:20:58,5.431016,4.920496,NaN,NaN,NaN
105925,2020-03-12 13:42:25,-72.90250,41.35608,AFF9,8.722222,60.55,NaN,NaN,2020-03-12 13:20:58,5.434522,4.924041,NaN,NaN,NaN
105926,2020-03-12 13:42:26,-72.90249,41.35615,AFF9,8.688889,60.57,NaN,NaN,2020-03-12 13:20:58,5.407179,4.895791,NaN,NaN,NaN
105927,2020-03-12 13:42:27,-72.90247,41.35621,AFF9,8.700000,60.57,NaN,NaN,2020-03-12 13:20:58,5.416878,4.905798,-0.720813,0.233363,-0.590133