In [162]:
import datetime
import email
import imaplib
import mailbox
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import re
import glob
from numpy import nansum
from numpy import nanmean
import datetime
import functools
from datetime import datetime

In [169]:
import math
from scipy.optimize import brentq
Gamma=0.66

#----------------numerical solution--------------------------
# Tw + (es*(Tw))/ð›¾ = Ta + ea/ ð›¾
# Ta air temperature 
# RH relative humidit
def TwNumerical(Ta,RH):
    SaturatedVPTa = 6.11* np.exp( (17.269*Ta) / (237.3+Ta) )
    VaporPressure = SaturatedVPTa*RH/100.0    
    def GetRoot(Tw):
        SaturatedVPTw = 6.11* np.exp( (17.269*Tw) / (237.3+Tw) )
        Function = Tw + SaturatedVPTw/Gamma-Ta-VaporPressure/Gamma
        return Function
    root,info = brentq(GetRoot,-20,50, full_output=True)
    return root


#----------------stull's formula----------------------
# use Stull's formula to calculate wet bulb temperature
# Ta air temperature 
# RH relative humidity
def Tw_Stull(Ta, RH):
    Tw_Stull=Ta*np.arctan(0.151977*(RH+8.313659)**0.5)+\
            np.arctan(Ta+RH)-np.arctan(RH-1.676331)+\
            np.arctan(0.023101*RH)*0.00391838*RH**(3./2.)-4.686035
    return Tw_Stull

def Clean_table_TW(df, st, tr):

    df['Lon'] = df['Lon'].str.replace('W','-').str.replace('E','').str.replace(' ','').astype(float)
    df['Lat'] = df['Lat'].str.replace('S','-').str.replace('N','').str.replace(' ','').astype(float)
    df['Temp'] = df['Temp'].str.replace('C','').str.replace(' ','').astype(float)
    df['Temp']=(df['Temp']-32)*5/9
    df['RH'] = df['RH'].str.replace('%','').str.replace(' ','').astype(float)
    df['Time']= pd.to_datetime(df['Time'])
    df['Biked']=np.nan
    df['Biked'][0]=(df['Time'][df.shape[0]-1]-df['Time'][0]).seconds/60
    df['Date']=np.nan
    df['Date'][0]=str('Trip '+tr+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
    df['Date_all']=str('Trip '+tr+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
    #df['Time']=df['Time'].replace(year=int(st[0:4]), month=int(st[4:6]), day=int(st[-2:]))
    df['Tw_Numerical']=df.apply(lambda x: TwNumerical(x['Temp'], x['RH']), axis=1)
    df['Tw_Stull']=Tw_Stull(df['Temp'], df['RH'])
    
    
    
    
    df = df.fillna('')
    return df

In [170]:
Dat_list=glob.glob('Bike study-6/*.txt')
Dat_list

['Bike study-6\\20191002-evening.txt',
 'Bike study-6\\20191002-morning.txt',
 'Bike study-6\\20191003-evening.txt',
 'Bike study-6\\20191003-morning.txt',
 'Bike study-6\\20191004-evening.txt',
 'Bike study-6\\20191004-morning.txt',
 'Bike study-6\\20191022-evening.txt',
 'Bike study-6\\20191022-morning.txt',
 'Bike study-6\\20191023-evening.txt',
 'Bike study-6\\20191023-morning.txt',
 'Bike study-6\\20191025-evening.txt',
 'Bike study-6\\20191025-morning.txt',
 'Bike study-6\\20191028-evening.txt',
 'Bike study-6\\20191028-morning.txt',
 'Bike study-6\\20191029-evening.txt',
 'Bike study-6\\20191029-morning.txt',
 'Bike study-6\\20191030-evening.txt',
 'Bike study-6\\20191030-morning.txt',
 'Bike study-6\\20191031-evening.txt',
 'Bike study-6\\20191031-morning .txt',
 'Bike study-6\\20191115.txt',
 'Bike study-6\\20191118.txt',
 'Bike study-6\\20191120-morning.txt',
 'Bike study-6\\20191120.txt',
 'Bike study-6\\20191122.txt',
 'Bike study-6\\20191125.txt',
 'Bike study-6\\20200224evening.txt',
 'Bike study-6\\20200224morning.txt',
 'Bike study-6\\20200225evening.txt',
 'Bike study-6\\20200225morning.txt',
 'Bike study-6\\20200226evening.txt',
 'Bike study-6\\20200226morning.txt',
 'Bike study-6\\20200227morning.txt',
 'Bike study-6\\20200227wvwning.txt',
 'Bike study-6\\20200228evening.txt',
 'Bike study-6\\20200228morning.txt',
 'Bike study-6\\20200302evening.txt',
 'Bike study-6\\20200302morning.txt',
 'Bike study-6\\20200303evening.txt',
 'Bike study-6\\20200303morning.txt',
 'Bike study-6\\20200304evening.txt',
 'Bike study-6\\20200304morning.txt',
 'Bike study-6\\20200305morning.txt',
 'Bike study-6\\20200306evening.txt',
 'Bike study-6\\20200306morning.txt',
 'Bike study-6\\20200309evening.txt',
 'Bike study-6\\20200309morning.txt',
 'Bike study-6\\20200310evening.txt',
 'Bike study-6\\20200310morning.txt',
 'Bike study-6\\20200311evening.txt',
 'Bike study-6\\20200311morning.txt',
 'Bike study-6\\20200312.wveningtxt.txt',
 'Bike study-6\\20200312morning.txt']

In [171]:
Dat_all=[]
ii=1
for item in Dat_list:
    Dat=pd.read_csv(item, names=["Time", "Lon", "Lat", "ID","Temp","RH"]) 
    Dat_clean=Clean_table_TW(Dat, str(item)[13:21], "{:0>2}".format(str(ii)))
    Dat_all.append(Dat_clean)
    ii=ii+1

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tirth\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [150]:
(result['Time'][56]-result['Time'][55]).seconds

Time            datetime64[ns]
Lon                    float64
Lat                    float64
ID                      object
Temp                   float64
RH                     float64
Tw_Numerical           float64
Tw_Stull               float64
dtype: object

In [172]:
result= pd.concat(Dat_all, ignore_index=True)
result

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull
0,2020-08-20 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,573.05,Trip 01 (10-02-2019),Trip 01 (10-02-2019),20.923797,20.838650
1,2020-08-20 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,,,Trip 01 (10-02-2019),20.939260,20.854587
2,2020-08-20 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,,,Trip 01 (10-02-2019),20.928626,20.843884
3,2020-08-20 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,,,Trip 01 (10-02-2019),20.891918,20.806557
4,2020-08-20 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,,,Trip 01 (10-02-2019),20.912667,20.827826
...,...,...,...,...,...,...,...,...,...,...,...
145288,2020-08-20 09:16:54,-72.92315,41.31662,AFF9,17.900000,53.31,,,Trip 53 (03-12-2020),12.501311,12.304962
145289,2020-08-20 09:16:55,-72.92315,41.31662,AFF9,17.900000,53.41,,,Trip 53 (03-12-2020),12.514033,12.317307
145290,2020-08-20 09:16:56,-72.92315,41.31662,AFF9,17.922222,53.56,,,Trip 53 (03-12-2020),12.551713,12.355246
145291,2020-08-20 09:16:58,-72.92315,41.31662,AFF9,17.911111,53.58,,,Trip 53 (03-12-2020),12.544953,12.347999
145292,2020-08-20 09:16:59,-72.92321,41.31669,AFF9,17.911111,53.57,,,Trip 53 (03-12-2020),12.543681,12.346765

In [ ]:
# for index, row in result.iterrows():
#     kk=1
#     if ((result['Time'][index]-result[index-1][55]).seconds>=900):
#         result['Biked'][0]=(result['Time'][df.shape[0]-1]-result['Time'][0]).seconds/60
#         result['Date'][0]=str('Trip '+ "{:0>2}".format(str(kk))+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
#         result['Date_all']=str('Trip '+ "{:0>2}".format(str(kk))+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
        
    
#     else:
#         result['Biked'][index]=np.nan
#         result['Date'][index]=np.nan

In [98]:
result.to_csv('Compiled_Sara.csv')

In [90]:
ss=result.groupby('Date').max()
Fin=pd.DataFrame(ss.index)

Fin[Fin['Date']==""]=np.nan
Fin=Fin.dropna()
Fin

                    Date
1   Trip 01 (10-02-2019)
2   Trip 02 (10-02-2019)
3   Trip 03 (10-03-2019)
4   Trip 04 (10-03-2019)
5   Trip 05 (10-04-2019)
6   Trip 06 (10-04-2019)
7   Trip 07 (10-22-2019)
8   Trip 08 (10-22-2019)
9   Trip 09 (10-23-2019)
10  Trip 10 (10-23-2019)
11  Trip 11 (10-25-2019)
12  Trip 12 (10-25-2019)
13  Trip 13 (10-28-2019)
14  Trip 14 (10-28-2019)
15  Trip 15 (10-29-2019)
16  Trip 16 (10-29-2019)
17  Trip 17 (10-30-2019)
18  Trip 18 (10-30-2019)
19  Trip 19 (10-31-2019)
20  Trip 20 (10-31-2019)
21  Trip 21 (11-20-2019)
22  Trip 22 (02-24-2020)
23  Trip 23 (02-24-2020)
24  Trip 24 (02-25-2020)
25  Trip 25 (02-25-2020)
26  Trip 26 (02-26-2020)
27  Trip 27 (02-26-2020)
28  Trip 28 (02-27-2020)
29  Trip 29 (02-27-2020)
30  Trip 30 (02-28-2020)
31  Trip 31 (02-28-2020)
32  Trip 32 (03-02-2020)
33  Trip 33 (03-02-2020)
34  Trip 34 (03-03-2020)
35  Trip 35 (03-03-2020)
36  Trip 36 (03-04-2020)
37  Trip 37 (03-04-2020)
38  Trip 38 (03-05-2020)
39  Trip 39 (03-06-2020)
40  Trip 40 (03-06-2020)
41  Trip 41 (03-09-2020)
42  Trip 42 (03-09-2020)
43  Trip 43 (03-10-2020)
44  Trip 44 (03-10-2020)
45  Trip 45 (03-11-2020)
46  Trip 46 (03-11-2020)
47  Trip 47 (03-12-2020)
48  Trip 48 (03-12-2020)

In [48]:
Fin.to_csv('Compiled_Sara_Date.csv')