In [64]:
import datetime
import email
import imaplib
import mailbox
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
import re
import glob
from numpy import nansum
from numpy import nanmean
import datetime
import functools
from datetime import datetime

In [65]:
import math
from scipy.optimize import brentq
Gamma=0.66

#----------------numerical solution--------------------------
# Tw + (es*(Tw))/𝛾 = Ta + ea/ 𝛾
# Ta air temperature 
# RH relative humidit
def TwNumerical(Ta,RH):
    SaturatedVPTa = 6.11* np.exp( (17.269*Ta) / (237.3+Ta) )
    VaporPressure = SaturatedVPTa*RH/100.0    
    def GetRoot(Tw):
        SaturatedVPTw = 6.11* np.exp( (17.269*Tw) / (237.3+Tw) )
        Function = Tw + SaturatedVPTw/Gamma-Ta-VaporPressure/Gamma
        return Function
    root,info = brentq(GetRoot,-20,50, full_output=True)
    return root


#----------------stull's formula----------------------
# use Stull's formula to calculate wet bulb temperature
# Ta air temperature 
# RH relative humidity
def Tw_Stull(Ta, RH):
    Tw_Stull=Ta*np.arctan(0.151977*(RH+8.313659)**0.5)+\
            np.arctan(Ta+RH)-np.arctan(RH-1.676331)+\
            np.arctan(0.023101*RH)*0.00391838*RH**(3./2.)-4.686035
    return Tw_Stull

def Clean_table_TW(df, st, tr):

    df['Lon'] = df['Lon'].str.replace('W','-').str.replace('E','').str.replace(' ','').astype(float)
    df['Lat'] = df['Lat'].str.replace('S','-').str.replace('N','').str.replace(' ','').astype(float)
    df['Temp'] = df['Temp'].str.replace('C','').str.replace(' ','').astype(float)
    df['Temp']=(df['Temp']-32)*5/9
    df['RH'] = df['RH'].str.replace('%','').str.replace(' ','').astype(float)
    df['Time']= pd.to_datetime(st[4:6]+'-'+st[-2:]+'-'+st[0:4]+ ' ' + df['Time'])
    #df['Biked']=np.nan
    #df['Biked'][0]=(df['Time'][df.shape[0]-1]-df['Time'][0]).seconds/60
    #df['Date']=np.nan
    #df['Date'][0]=str('Trip '+tr+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
    #df['Date_all']=str('Trip '+tr+' ('+st[4:6]+'-'+st[-2:]+'-'+st[0:4]+')')
    #df['Time']=df['Time'].replace(year=int(st[0:4]), month=int(st[4:6]), day=int(st[-2:]))
    df['Tw_Numerical']=df.apply(lambda x: TwNumerical(x['Temp'], x['RH']), axis=1)
    df['Tw_Stull']=Tw_Stull(df['Temp'], df['RH'])
    
    
    
    
    df = df.fillna('')
    return df

In [66]:
Dat_list=glob.glob('Bike study-6/*.txt')
Dat_list

['Bike study-6\\20191002-evening.txt',
 'Bike study-6\\20191002-morning.txt',
 'Bike study-6\\20191003-evening.txt',
 'Bike study-6\\20191003-morning.txt',
 'Bike study-6\\20191004-evening.txt',
 'Bike study-6\\20191004-morning.txt',
 'Bike study-6\\20191022-evening.txt',
 'Bike study-6\\20191022-morning.txt',
 'Bike study-6\\20191023-evening.txt',
 'Bike study-6\\20191023-morning.txt',
 'Bike study-6\\20191025-evening.txt',
 'Bike study-6\\20191025-morning.txt',
 'Bike study-6\\20191028-evening.txt',
 'Bike study-6\\20191028-morning.txt',
 'Bike study-6\\20191029-evening.txt',
 'Bike study-6\\20191029-morning.txt',
 'Bike study-6\\20191030-evening.txt',
 'Bike study-6\\20191030-morning.txt',
 'Bike study-6\\20191031-evening.txt',
 'Bike study-6\\20191031-morning .txt',
 'Bike study-6\\20191115.txt',
 'Bike study-6\\20191118.txt',
 'Bike study-6\\20191120-morning.txt',
 'Bike study-6\\20191120.txt',
 'Bike study-6\\20191122.txt',
 'Bike study-6\\20191125.txt',
 'Bike study-6\\20200224evening.txt',
 'Bike study-6\\20200224morning.txt',
 'Bike study-6\\20200225evening.txt',
 'Bike study-6\\20200225morning.txt',
 'Bike study-6\\20200226evening.txt',
 'Bike study-6\\20200226morning.txt',
 'Bike study-6\\20200227morning.txt',
 'Bike study-6\\20200227wvwning.txt',
 'Bike study-6\\20200228evening.txt',
 'Bike study-6\\20200228morning.txt',
 'Bike study-6\\20200302evening.txt',
 'Bike study-6\\20200302morning.txt',
 'Bike study-6\\20200303evening.txt',
 'Bike study-6\\20200303morning.txt',
 'Bike study-6\\20200304evening.txt',
 'Bike study-6\\20200304morning.txt',
 'Bike study-6\\20200305morning.txt',
 'Bike study-6\\20200306evening.txt',
 'Bike study-6\\20200306morning.txt',
 'Bike study-6\\20200309evening.txt',
 'Bike study-6\\20200309morning.txt',
 'Bike study-6\\20200310evening.txt',
 'Bike study-6\\20200310morning.txt',
 'Bike study-6\\20200311evening.txt',
 'Bike study-6\\20200311morning.txt',
 'Bike study-6\\20200312.wveningtxt.txt',
 'Bike study-6\\20200312morning.txt']

In [67]:
# Read csvs and clean data
Dat_all=[]
ii=1
for item in Dat_list:
    Dat=pd.read_csv(item, names=["Time", "Lon", "Lat", "ID","Temp","RH"]) 
    Dat_clean=Clean_table_TW(Dat, str(item)[13:21], "{:0>2}".format(str(ii)))
    Dat_all.append(Dat_clean)
    ii=ii+1

In [68]:
Dat_all

[                    Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-02 08:08:12 -72.90217  41.35806   AFF9  23.500000  79.62
 1    2019-10-02 08:08:13 -72.90217  41.35806   AFF9  23.527778  79.54
 2    2019-10-02 08:08:14 -72.90216  41.35806   AFF9  23.527778  79.46
 3    2019-10-02 08:08:15 -72.90216  41.35806   AFF9  23.500000  79.38
 4    2019-10-02 08:08:16 -72.90217  41.35805   AFF9  23.527778  79.34
 ...                  ...       ...       ...    ...        ...    ...
 3806 2019-10-02 17:41:11 -72.90223  41.35813   AFF9  27.238889  64.31
 3807 2019-10-02 17:41:12 -72.90223  41.35813   AFF9  27.222222  64.29
 3808 2019-10-02 17:41:13 -72.90223  41.35813   AFF9  27.222222  64.32
 3809 2019-10-02 17:41:14 -72.90221  41.35813   AFF9  27.238889  64.27
 3810 2019-10-02 17:41:15 -72.90221  41.35813   AFF9  27.238889  64.21

       Tw_Numerical   Tw_Stull
 0        20.923797  20.838650
 1        20.939260  20.854587
 2        20.928626  20.843884
 3        20.891918  20.806557
 4        20.912667  20.827826
 ...            ...        ...
 3806     22.118220  22.173048
 3807     22.100285  22.154800
 3808     22.105037  22.159336
 3809     22.111881  22.166997
 3810     22.102368  22.157920

 [3811 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-02 08:08:12 -72.90217  41.35806   AFF9  23.500000  79.62
 1    2019-10-02 08:08:13 -72.90217  41.35806   AFF9  23.527778  79.54
 2    2019-10-02 08:08:14 -72.90216  41.35806   AFF9  23.527778  79.46
 3    2019-10-02 08:08:15 -72.90216  41.35806   AFF9  23.500000  79.38
 4    2019-10-02 08:08:16 -72.90217  41.35805   AFF9  23.527778  79.34
 ...                  ...       ...       ...    ...        ...    ...
 2277 2019-10-02 08:47:32 -72.92754  41.31574   AFF9  22.422222  59.92
 2278 2019-10-02 08:47:33 -72.92754  41.31574   AFF9  22.427778  60.84
 2279 2019-10-02 08:47:34 -72.92754  41.31574   AFF9  22.422222  62.07
 2280 2019-10-02 08:47:35 -72.92754  41.31574   AFF9  22.422222  63.07
 2281 2019-10-02 08:47:36 -72.92754  41.31574   AFF9  22.461111  64.02

       Tw_Numerical   Tw_Stull
 0        20.923797  20.838650
 1        20.939260  20.854587
 2        20.928626  20.843884
 3        20.891918  20.806557
 4        20.912667  20.827826
 ...            ...        ...
 2277     17.239922  17.175356
 2278     17.375503  17.306482
 2279     17.544524  17.469415
 2280     17.685059  17.605416
 2281     17.852202  17.769680

 [2282 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-03 08:11:55 -72.90229  41.35803   AFF9  17.400000  54.12
 1    2019-10-03 08:11:56 -72.90229  41.35803   AFF9  17.372222  54.19
 2    2019-10-03 08:11:57 -72.90229  41.35803   AFF9  17.400000  54.28
 3    2019-10-03 08:11:58 -72.90229  41.35803   AFF9  17.427778  54.32
 4    2019-10-03 08:11:59 -72.90229  41.35804   AFF9  17.438889  54.39
 ...                  ...       ...       ...    ...        ...    ...
 3593 2019-10-03 17:22:07 -72.90204  41.35795   AFF9  10.172222  95.58
 3594 2019-10-03 17:22:08 -72.90204  41.35793   AFF9  10.200000  95.66
 3595 2019-10-03 17:22:09 -72.90204  41.35793   AFF9  10.200000  95.71
 3596 2019-10-03 17:22:10 -72.90206  41.35791   AFF9  10.188889  95.76
 3597 2019-10-03 17:22:11 -72.90206  41.35791   AFF9  10.227778  95.77

       Tw_Numerical   Tw_Stull
 0        12.184292  11.966533
 1        12.169676  11.950656
 2        12.204227  11.985915
 3        12.232563  12.015130
 4        12.250633  12.033365
 ...            ...        ...
 3593      9.801742   9.656893
 3594      9.835917   9.692812
 3595      9.840137   9.697942
 3596      9.833380   9.691983
 3597      9.872638   9.731822

 [3598 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-03 08:11:55 -72.90229  41.35803   AFF9  17.400000  54.12
 1    2019-10-03 08:11:56 -72.90229  41.35803   AFF9  17.372222  54.19
 2    2019-10-03 08:11:57 -72.90229  41.35803   AFF9  17.400000  54.28
 3    2019-10-03 08:11:58 -72.90229  41.35803   AFF9  17.427778  54.32
 4    2019-10-03 08:11:59 -72.90229  41.35804   AFF9  17.438889  54.39
 ...                  ...       ...       ...    ...        ...    ...
 2147 2019-10-03 08:48:59 -72.92351  41.31690   AFF9  11.161111  78.47
 2148 2019-10-03 08:49:00 -72.92352  41.31690   AFF9  11.150000  78.36
 2149 2019-10-03 08:49:01 -72.92352  41.31690   AFF9  11.150000  78.35
 2150 2019-10-03 08:49:02 -72.92353  41.31690   AFF9  11.161111  78.40
 2151 2019-10-03 08:49:03 -72.92353  41.31690   AFF9  11.161111  78.46

       Tw_Numerical   Tw_Stull
 0        12.184292  11.966533
 1        12.169676  11.950656
 2        12.204227  11.985915
 3        12.232563  12.015130
 4        12.250633  12.033365
 ...            ...        ...
 2147      9.247683   8.889410
 2148      9.227223   8.867741
 2149      9.226306   8.866737
 2150      9.241263   8.882378
 2151      9.246766   8.888406

 [2152 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-04 08:11:33 -72.90208  41.35795   AFF9  16.538889  74.11
 1    2019-10-04 08:11:34 -72.90210  41.35795   AFF9  16.550000  74.16
 2    2019-10-04 08:11:35 -72.90210  41.35795   AFF9  16.550000  74.16
 3    2019-10-04 08:11:36 -72.90210  41.35795   AFF9  16.522222  74.18
 4    2019-10-04 08:11:37 -72.90208  41.35793   AFF9  16.511111  74.21
 ...                  ...       ...       ...    ...        ...    ...
 2534 2019-10-04 08:54:47 -72.92372  41.31688   AFF9  14.272222  87.16
 2535 2019-10-04 08:54:48 -72.92374  41.31687   AFF9  14.311111  87.23
 2536 2019-10-04 08:54:49 -72.92374  41.31687   AFF9  14.361111  87.53
 2537 2019-10-04 08:54:50 -72.92371  41.31686   AFF9  14.422222  88.06
 2538 2019-10-04 16:58:37 -72.92357  41.31699   AFF9  17.877778  39.20

       Tw_Numerical   Tw_Stull
 0        13.784269  13.528803
 1        13.800059  13.545042
 2        13.800059  13.545042
 3        13.776779  13.521122
 4        13.769921  13.514082
 ...            ...        ...
 2534     13.026311  12.814683
 2535     13.070657  12.860437
 2536     13.148558  12.942451
 2537     13.260083  13.060863
 2538     10.632028  10.487304

 [2539 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-04 08:11:33 -72.90208  41.35795   AFF9  16.538889  74.11
 1    2019-10-04 08:11:34 -72.90210  41.35795   AFF9  16.550000  74.16
 2    2019-10-04 08:11:35 -72.90210  41.35795   AFF9  16.550000  74.16
 3    2019-10-04 08:11:36 -72.90210  41.35795   AFF9  16.522222  74.18
 4    2019-10-04 08:11:37 -72.90208  41.35793   AFF9  16.511111  74.21
 ...                  ...       ...       ...    ...        ...    ...
 2533 2019-10-04 08:54:46 -72.92372  41.31688   AFF9  14.272222  87.15
 2534 2019-10-04 08:54:47 -72.92372  41.31688   AFF9  14.272222  87.16
 2535 2019-10-04 08:54:48 -72.92374  41.31687   AFF9  14.311111  87.23
 2536 2019-10-04 08:54:49 -72.92374  41.31687   AFF9  14.361111  87.53
 2537 2019-10-04 08:54:50 -72.92371  41.31686   AFF9  14.422222  88.06

       Tw_Numerical   Tw_Stull
 0        13.784269  13.528803
 1        13.800059  13.545042
 2        13.800059  13.545042
 3        13.776779  13.521122
 4        13.769921  13.514082
 ...            ...        ...
 2533     13.025320  12.813583
 2534     13.026311  12.814683
 2535     13.070657  12.860437
 2536     13.148558  12.942451
 2537     13.260083  13.060863

 [2538 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-22 08:24:14 -72.90212  41.35793   AFF9  11.388889  76.60
 1    2019-10-22 08:24:15 -72.90213  41.35794   AFF9  11.400000  76.59
 2    2019-10-22 08:24:16 -72.90213  41.35794   AFF9  11.400000  76.62
 3    2019-10-22 08:24:17 -72.90214  41.35794   AFF9  11.400000  76.64
 4    2019-10-22 08:24:18 -72.90214  41.35795   AFF9  11.388889  76.69
 ...                  ...       ...       ...    ...        ...    ...
 3559 2019-10-22 17:42:55 -72.90223  41.35800   AFF9  14.500000  88.97
 3560 2019-10-22 17:42:56 -72.90221  41.35800   AFF9  14.477778  88.91
 3561 2019-10-22 17:42:57 -72.90221  41.35800   AFF9  14.477778  88.80
 3562 2019-10-22 17:42:58 -72.90219  41.35799   AFF9  14.477778  88.70
 3563 2019-10-22 17:42:59 -72.90219  41.35799   AFF9  14.500000  88.66

       Tw_Numerical   Tw_Stull
 0         9.286967   8.918485
 1         9.296341   8.928042
 2         9.299132   8.931064
 3         9.300992   8.933079
 4         9.295334   8.927548
 ...            ...        ...
 3559     13.425556  13.237961
 3560     13.398109  13.209477
 3561     13.387195  13.197287
 3562     13.377269  13.186207
 3563     13.394773  13.203594

 [3564 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-22 08:24:14 -72.90212  41.35793   AFF9  11.388889  76.60
 1    2019-10-22 08:24:15 -72.90213  41.35794   AFF9  11.400000  76.59
 2    2019-10-22 08:24:16 -72.90213  41.35794   AFF9  11.400000  76.62
 3    2019-10-22 08:24:17 -72.90214  41.35794   AFF9  11.400000  76.64
 4    2019-10-22 08:24:18 -72.90214  41.35795   AFF9  11.388889  76.69
 ...                  ...       ...       ...    ...        ...    ...
 1678 2019-10-22 08:53:14 -72.92377  41.31704   AFF9  11.527778  87.33
 1679 2019-10-22 08:53:15 -72.92377  41.31704   AFF9  11.522222  86.72
 1680 2019-10-22 08:53:16 -72.92377  41.31704   AFF9  11.522222  86.47
 1681 2019-10-22 08:53:17 -72.92378  41.31705   AFF9  11.538889  86.21
 1682 2019-10-22 08:53:18 -72.92378  41.31705   AFF9  11.527778  85.96

       Tw_Numerical   Tw_Stull
 0         9.286967   8.918485
 1         9.296341   8.928042
 2         9.299132   8.931064
 3         9.300992   8.933079
 4         9.295334   8.927548
 ...            ...        ...
 1678     10.402504  10.147544
 1679     10.341919  10.079055
 1680     10.319251  10.053239
 1681     10.311637  10.042672
 1682     10.278278  10.006039

 [1683 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-23 08:13:15 -72.90214  41.35793   AFF9  15.477778  76.35
 1    2019-10-23 08:13:21 -72.90226  41.35796   AFF9  15.361111  76.96
 2    2019-10-23 08:13:22 -72.90226  41.35796   AFF9  15.361111  76.96
 3    2019-10-23 08:13:28 -72.90225  41.35797   AFF9  15.372222  77.14
 4    2019-10-23 08:13:33 -72.90221  41.35794   AFF9  15.311111  77.23
 ...                  ...       ...       ...    ...        ...    ...
 1382 2019-10-23 17:30:34 -72.90227  41.35801   AFF9  17.161111  47.13
 1383 2019-10-23 17:30:35 -72.90227  41.35802   AFF9  17.188889  48.35
 1384 2019-10-23 17:30:36 -72.90227  41.35802   AFF9  17.250000  49.48
 1385 2019-10-23 17:30:37 -72.90227  41.35802   AFF9  17.288889  50.52
 1386 2019-10-23 17:30:38 -72.90227  41.35802   AFF9  17.261111  51.39

       Tw_Numerical   Tw_Stull
 0        13.050770  12.778270
 1        13.007728  12.735592
 2        13.007728  12.735592
 3        13.037198  12.766293
 4        12.989996  12.718144
 ...            ...        ...
 1382     11.106839  10.906639
 1383     11.284360  11.080417
 1384     11.477342  11.271293
 1385     11.640598  11.431979
 1386     11.727065  11.514073

 [1387 rows x 8 columns],
                   Time       Lon       Lat     ID       Temp     RH  \
 0  2019-10-23 08:13:15 -72.90214  41.35793   AFF9  15.477778  76.35
 1  2019-10-23 08:13:21 -72.90226  41.35796   AFF9  15.361111  76.96
 2  2019-10-23 08:13:22 -72.90226  41.35796   AFF9  15.361111  76.96
 3  2019-10-23 08:13:28 -72.90225  41.35797   AFF9  15.372222  77.14
 4  2019-10-23 08:13:33 -72.90221  41.35794   AFF9  15.311111  77.23
 ..                 ...       ...       ...    ...        ...    ...
 60 2019-10-23 08:14:30 -72.90213  41.35799   AFF9  13.861111  82.40
 61 2019-10-23 08:14:31 -72.90213  41.35799   AFF9  13.838889  82.49
 62 2019-10-23 08:14:32 -72.90213  41.35799   AFF9  13.911111  82.60
 63 2019-10-23 08:14:33 -72.90213  41.35799   AFF9  13.911111  82.70
 64 2019-10-23 08:14:35 -72.90214  41.35800   AFF9  13.961111  82.77

     Tw_Numerical   Tw_Stull
 0      13.050770  12.778270
 1      13.007728  12.735592
 2      13.007728  12.735592
 3      13.037198  12.766293
 4      12.989996  12.718144
 ..           ...        ...
 60     12.161433  11.895163
 61     12.149344  11.883433
 62     12.228664  11.965174
 63     12.238615  11.976023
 64     12.292958  12.031983

 [65 rows x 8 columns],
                    Time       Lon       Lat     ID       Temp     RH  \
 0   2019-10-25 08:07:02 -72.90230  41.35791   AFF9  12.250000  63.43
 1   2019-10-25 08:07:03 -72.90229  41.35792   AFF9  12.188889  63.46
 2   2019-10-25 08:07:04 -72.90229  41.35792   AFF9  12.177778  63.51
 3   2019-10-25 08:07:08 -72.90229  41.35792   AFF9  12.050000  63.77
 4   2019-10-25 08:07:09 -72.90229  41.35792   AFF9  11.988889  63.82
 ..                  ...       ...       ...    ...        ...    ...
 133 2019-10-25 08:09:20 -72.90225  41.35791   AFF9  10.788889  69.17
 134 2019-10-25 08:09:21 -72.90225  41.35791   AFF9  10.788889  69.18
 135 2019-10-25 08:09:23 -72.90226  41.35792   AFF9  10.811111  69.18
 136 2019-10-25 08:09:24 -72.90226  41.35792   AFF9  10.850000  69.15
 137 2019-10-25 17:21:15 -72.92358  41.31689   AFF9  20.577778  52.39

      Tw_Numerical   Tw_Stull
 0        8.795788   8.392527
 1        8.744998   8.339918
 2        8.740203   8.334853
 3        8.653486   8.244643
 4        8.604562   8.193954
 ..            ...        ...
 133      8.047250   7.618285
 134      8.048180   7.619259
 135      8.068224   7.639905
 136      8.100504   7.673108
 137     14.611584  14.520006

 [138 rows x 8 columns],
                    Time       Lon       Lat     ID       Temp     RH  \
 0   2019-10-25 08:07:02 -72.90230  41.35791   AFF9  12.250000  63.43
 1   2019-10-25 08:07:03 -72.90229  41.35792   AFF9  12.188889  63.46
 2   2019-10-25 08:07:04 -72.90229  41.35792   AFF9  12.177778  63.51
 3   2019-10-25 08:07:08 -72.90229  41.35792   AFF9  12.050000  63.77
 4   2019-10-25 08:07:09 -72.90229  41.35792   AFF9  11.988889  63.82
 ..                  ...       ...       ...    ...        ...    ...
 132 2019-10-25 08:09:19 -72.90224  41.35790   AFF9  10.750000  69.10
 133 2019-10-25 08:09:20 -72.90225  41.35791   AFF9  10.788889  69.17
 134 2019-10-25 08:09:21 -72.90225  41.35791   AFF9  10.788889  69.18
 135 2019-10-25 08:09:23 -72.90226  41.35792   AFF9  10.811111  69.18
 136 2019-10-25 08:09:24 -72.90226  41.35792   AFF9  10.850000  69.15

      Tw_Numerical  Tw_Stull
 0        8.795788  8.392527
 1        8.744998  8.339918
 2        8.740203  8.334853
 3        8.653486  8.244643
 4        8.604562  8.193954
 ..            ...       ...
 132      8.005676  7.575344
 133      8.047250  7.618285
 134      8.048180  7.619259
 135      8.068224  7.639905
 136      8.100504  7.673108

 [137 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-28 08:18:07 -72.90210  41.35797   AFF9  12.938889  78.92
 1    2019-10-28 09:20:52 -72.92332  41.31673   AFF9  18.527778  67.55
 2    2019-10-28 09:20:53 -72.92332  41.31673   AFF9  18.522222  67.60
 3    2019-10-28 09:20:54 -72.92322  41.31671   AFF9  18.527778  67.62
 4    2019-10-28 09:20:55 -72.92322  41.31671   AFF9  18.527778  67.60
 ...                  ...       ...       ...    ...        ...    ...
 1420 2019-10-28 17:42:32 -72.90218  41.35798   AFF9  13.761111  80.40
 1421 2019-10-28 17:42:33 -72.90218  41.35798   AFF9  13.722222  80.56
 1422 2019-10-28 17:42:34 -72.90217  41.35797   AFF9  13.738889  80.77
 1423 2019-10-28 17:42:36 -72.90217  41.35796   AFF9  13.727778  80.97
 1424 2019-10-28 17:42:37 -72.90217  41.35796   AFF9  13.761111  81.16

       Tw_Numerical   Tw_Stull
 0        10.951221  10.636297
 1        14.820649  14.611172
 2        14.821786  14.612119
 3        14.829199  14.619685
 4        14.826756  14.617253
 ...            ...        ...
 1420     11.867918  11.582679
 1421     11.847310  11.562532
 1422     11.883900  11.601188
 1423     11.893345  11.612050
 1424     11.943649  11.664634

 [1425 rows x 8 columns],
                  Time       Lon       Lat     ID       Temp     RH  \
 0 2019-10-28 08:18:07 -72.90210  41.35797   AFF9  12.938889  78.92
 1 2019-10-28 09:20:52 -72.92332  41.31673   AFF9  18.527778  67.55
 2 2019-10-28 09:20:53 -72.92332  41.31673   AFF9  18.522222  67.60
 3 2019-10-28 09:20:54 -72.92322  41.31671   AFF9  18.527778  67.62
 4 2019-10-28 09:20:55 -72.92322  41.31671   AFF9  18.527778  67.60
 5 2019-10-28 09:20:56 -72.92322  41.31671   AFF9  18.527778  67.64
 6 2019-10-28 09:20:58 -72.92322  41.31671   AFF9  18.527778  67.63
 7 2019-10-28 09:20:59 -72.92322  41.31671   AFF9  18.527778  67.67
 8 2019-10-28 09:21:00 -72.92322  41.31671   AFF9  18.527778  67.65
 9 2019-10-28 09:21:01 -72.92322  41.31671   AFF9  18.550000  67.67

    Tw_Numerical   Tw_Stull
 0     10.951221  10.636297
 1     14.820649  14.611172
 2     14.821786  14.612119
 3     14.829199  14.619685
 4     14.826756  14.617253
 5     14.831641  14.622117
 6     14.830420  14.620901
 7     14.835304  14.625765
 8     14.832862  14.623333
 9     14.855189  14.646306  ,
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-29 08:22:27 -72.90229  41.35797   AFF9  12.061111  84.69
 1    2019-10-29 08:22:28 -72.90229  41.35800   AFF9  12.061111  84.72
 2    2019-10-29 08:22:29 -72.90231  41.35798   AFF9  12.050000  84.85
 3    2019-10-29 08:22:30 -72.90227  41.35798   AFF9  12.050000  84.86
 4    2019-10-29 08:22:31 -72.90226  41.35797   AFF9  12.038889  84.85
 ...                  ...       ...       ...    ...        ...    ...
 1601 2019-10-29 08:49:45 -72.92362  41.31696   AFF9  11.500000  91.26
 1602 2019-10-29 08:49:46 -72.92362  41.31698   AFF9  11.522222  91.38
 1603 2019-10-29 08:49:47 -72.92360  41.31698   AFF9  11.561111  91.61
 1604 2019-10-29 08:49:48 -72.92360  41.31698   AFF9  11.561111  91.71
 1605 2019-10-29 17:09:49 -72.92393  41.31689   AFF9  22.422222  61.81

       Tw_Numerical   Tw_Stull
 0        10.671401  10.393737
 1        10.674188  10.396863
 2        10.675658  10.399601
 3        10.676586  10.400643
 4        10.665054  10.388795
 ...            ...        ...
 1601     10.728998  10.528507
 1602     10.761378  10.562989
 1603     10.819863  10.625462
 1604     10.828806  10.635919
 1605     17.507866  17.433977

 [1606 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp     RH  \
 0    2019-10-29 08:22:27 -72.90229  41.35797   AFF9  12.061111  84.69
 1    2019-10-29 08:22:28 -72.90229  41.35800   AFF9  12.061111  84.72
 2    2019-10-29 08:22:29 -72.90231  41.35798   AFF9  12.050000  84.85
 3    2019-10-29 08:22:30 -72.90227  41.35798   AFF9  12.050000  84.86
 4    2019-10-29 08:22:31 -72.90226  41.35797   AFF9  12.038889  84.85
 ...                  ...       ...       ...    ...        ...    ...
 1600 2019-10-29 08:49:44 -72.92362  41.31696   AFF9  11.461111  91.18
 1601 2019-10-29 08:49:45 -72.92362  41.31696   AFF9  11.500000  91.26
 1602 2019-10-29 08:49:46 -72.92362  41.31698   AFF9  11.522222  91.38
 1603 2019-10-29 08:49:47 -72.92360  41.31698   AFF9  11.561111  91.61
 1604 2019-10-29 08:49:48 -72.92360  41.31698   AFF9  11.561111  91.71

       Tw_Numerical   Tw_Stull
 0        10.671401  10.393737
 1        10.674188  10.396863
 2        10.675658  10.399601
 3        10.676586  10.400643
 4        10.665054  10.388795
 ...            ...        ...
 1600     10.683967  10.481749
 1601     10.728998  10.528507
 1602     10.761378  10.562989
 1603     10.819863  10.625462
 1604     10.828806  10.635919

 [1605 rows x 8 columns],
                     Time       Lon       Lat     ID       Temp      RH  \
 0    2019-10-30 08:00:50 -72.90234  41.35789   AFF9  16.950000   91.25
 1    2019-10-30 08:00:51 -72.90234  41.35789   AFF9  16.972222   91.23

In [69]:
# Dat_all_trimmed=[]
# for item in Dat_all:
#     Temp=item.iloc[240:]
#     Temp=Temp[:-240]
#     Dat_all_trimmed.append(Temp)

In [70]:
#Dat_all_trimmed

In [71]:
#Concatanate into one data frame
result= pd.concat(Dat_all, ignore_index=True)
result
##Remove duplicate datetimes
result=result.drop_duplicates(subset=['Time']).sort_values(['Time']).reset_index()
result

,index,Time,Lon,Lat,ID,Temp,RH,Tw_Numerical,Tw_Stull
0,0,2019-10-02 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,20.923797,20.838650
1,1,2019-10-02 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,20.939260,20.854587
2,2,2019-10-02 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,20.928626,20.843884
3,3,2019-10-02 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,20.891918,20.806557
4,4,2019-10-02 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,20.912667,20.827826
...,...,...,...,...,...,...,...,...,...
112548,143666,2020-03-12 13:44:27,-72.90227,41.35798,AFF9,9.200000,60.01,5.803058,5.305589
112549,143667,2020-03-12 13:44:28,-72.90227,41.35798,AFF9,9.172222,59.87,5.766360,5.268015
112550,143668,2020-03-12 13:44:30,-72.90227,41.35798,AFF9,9.177778,59.72,5.757764,5.259496
112551,143669,2020-03-12 13:44:33,-72.90229,41.35799,AFF9,9.177778,59.60,5.747017,5.248692
112552,143670,2020-03-12 13:44:34,-72.90229,41.35799,AFF9,9.200000,59.19,5.729545,5.231711

In [72]:
## Add Biked and Date column
result['Date']=np.nan
result['Date_all']=np.nan
result['Biked']=np.nan
kk=0
for index, row in result.iterrows():
    result['Date_all'][index]=str(result['Time'][kk])  
    if (index<=len(result)-2):
        if(((result['Time'][index+1]-result['Time'][index]).seconds>=300)):
            result['Biked'][kk]=(result['Time'][index]-result['Time'][kk]).seconds/60
            result['Date'][kk]=str(result['Time'][kk])
            result['Date_all'][index]=str(result['Time'][kk])
            kk=index+1
    else:
        result['Biked'][kk]=(result['Time'][index]-result['Time'][kk]).seconds/60
        result['Date'][kk]=str(result['Time'][kk])
        result['Date_all'][index]=str(result['Time'][kk])
        kk=index+1
        #result['Biked'][index]=np.nan
        #result['Date'][index]=np.nan
#     if (index==0):
#         #result['Biked'][index]=np.nan
#         #result['Date'][index]=np.nan
#         result['Date_all'][index]=str(result['Time'][index])
#         result['Date'][index]=str(result['Time'][index])
#         result['Biked'][index]=(result['Time'][kk]-result['Time'][index]).seconds/60

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\tirth\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [86]:
#Fin=result[(result['Biked']<=240) | (result['Biked']).isnull()]
#Remove cases where someone biked for 0 time
Fin=result[(result['Biked']>=5) | (result['Biked']).isnull()]
Fin=Fin[['Time', 'Lon', 'Lat', 'ID', 'Temp', 'RH', 'Biked','Date','Date_all','Tw_Numerical','Tw_Stull']]
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull
0,2019-10-02 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,39.4,2019-10-02 08:08:12,2019-10-02 08:08:12,20.923797,20.838650
1,2019-10-02 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,NaN,NaN,2019-10-02 08:08:12,20.939260,20.854587
2,2019-10-02 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,NaN,NaN,2019-10-02 08:08:12,20.928626,20.843884
3,2019-10-02 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,NaN,NaN,2019-10-02 08:08:12,20.891918,20.806557
4,2019-10-02 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,NaN,NaN,2019-10-02 08:08:12,20.912667,20.827826
...,...,...,...,...,...,...,...,...,...,...,...
112548,2020-03-12 13:44:27,-72.90227,41.35798,AFF9,9.200000,60.01,NaN,NaN,2020-03-12 13:20:58,5.803058,5.305589
112549,2020-03-12 13:44:28,-72.90227,41.35798,AFF9,9.172222,59.87,NaN,NaN,2020-03-12 13:20:58,5.766360,5.268015
112550,2020-03-12 13:44:30,-72.90227,41.35798,AFF9,9.177778,59.72,NaN,NaN,2020-03-12 13:20:58,5.757764,5.259496
112551,2020-03-12 13:44:33,-72.90229,41.35799,AFF9,9.177778,59.60,NaN,NaN,2020-03-12 13:20:58,5.747017,5.248692
112552,2020-03-12 13:44:34,-72.90229,41.35799,AFF9,9.200000,59.19,NaN,NaN,2020-03-12 13:20:58,5.729545,5.231711

In [87]:
Fin['Temp_norm'] = Fin.groupby('Date_all')['Temp'].apply(lambda x: (x-x.min())/(x.max()-x.min()))
#Fin['Temp_norm'] = Fin['Temp']-Fin['Temp_norm']
Fin['RH_norm'] = Fin.groupby('Date_all')['RH'].apply(lambda x: (x-x.min())/(x.max()-x.min()))
#Fin['RH_norm'] = Fin['RH']-Fin['RH_norm']
Fin['Tw_Numerical_norm'] = Fin.groupby('Date_all')['Tw_Numerical'].apply(lambda x: (x-x.min())/(x.max()-x.min()))
#Fin['Tw_Numerical_norm'] = Fin['Tw_Numerical']-Fin['Tw_Numerical_norm']
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull,Temp_norm,RH_norm,Tw_Numerical_norm
0,2019-10-02 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,39.4,2019-10-02 08:08:12,2019-10-02 08:08:12,20.923797,20.838650,0.932870,0.664032,0.870447
1,2019-10-02 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,NaN,NaN,2019-10-02 08:08:12,20.939260,20.854587,0.944444,0.661599,0.873753
2,2019-10-02 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,NaN,NaN,2019-10-02 08:08:12,20.928626,20.843884,0.944444,0.659167,0.871479
3,2019-10-02 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,NaN,NaN,2019-10-02 08:08:12,20.891918,20.806557,0.932870,0.656735,0.863631
4,2019-10-02 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,NaN,NaN,2019-10-02 08:08:12,20.912667,20.827826,0.944444,0.655518,0.868067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112548,2020-03-12 13:44:27,-72.90227,41.35798,AFF9,9.200000,60.01,NaN,NaN,2020-03-12 13:20:58,5.803058,5.305589,0.099819,0.790284,0.128323
112549,2020-03-12 13:44:28,-72.90227,41.35798,AFF9,9.172222,59.87,NaN,NaN,2020-03-12 13:20:58,5.766360,5.268015,0.095281,0.783550,0.117791
112550,2020-03-12 13:44:30,-72.90227,41.35798,AFF9,9.177778,59.72,NaN,NaN,2020-03-12 13:20:58,5.757764,5.259496,0.096189,0.776335,0.115323
112551,2020-03-12 13:44:33,-72.90229,41.35799,AFF9,9.177778,59.60,NaN,NaN,2020-03-12 13:20:58,5.747017,5.248692,0.096189,0.770563,0.112239
112552,2020-03-12 13:44:34,-72.90229,41.35799,AFF9,9.200000,59.19,NaN,NaN,2020-03-12 13:20:58,5.729545,5.231711,0.099819,0.750842,0.107224

In [88]:
Fin['Temp_norm'][Fin['Temp_norm'] > 0.95] = np.nan
Fin['Temp_norm'][Fin['Temp_norm'] < 0.05] = np.nan
Fin['RH_norm'][Fin['RH_norm'] > 0.95] = np.nan
Fin['RH_norm'][Fin['RH_norm'] < 0.05] = np.nan
Fin['Tw_Numerical_norm'][Fin['Tw_Numerical_norm'] > 0.95] = np.nan
Fin['Tw_Numerical_norm'][Fin['Tw_Numerical_norm'] < 0.05] = np.nan

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [89]:
Fin['Temp_norm'] = Fin.groupby('Date_all')['Temp'].apply(lambda x: (x-x.min())/(x.max()-x.min()))
#Fin['Temp_norm'] = Fin['Temp']-Fin['Temp_norm']
Fin['RH_norm'] = Fin.groupby('Date_all')['RH'].apply(lambda x: (x-x.min())/(x.max()-x.min()))
#Fin['RH_norm'] = Fin['RH']-Fin['RH_norm']
Fin['Tw_Numerical_norm'] = Fin.groupby('Date_all')['Tw_Numerical'].apply(lambda x: (x-x.min())/(x.max()-x.min()))
#Fin['Tw_Numerical_norm'] = Fin['Tw_Numerical']-Fin['Tw_Numerical_norm']
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull,Temp_norm,RH_norm,Tw_Numerical_norm
0,2019-10-02 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,39.4,2019-10-02 08:08:12,2019-10-02 08:08:12,20.923797,20.838650,0.932870,0.664032,0.870447
1,2019-10-02 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,NaN,NaN,2019-10-02 08:08:12,20.939260,20.854587,0.944444,0.661599,0.873753
2,2019-10-02 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,NaN,NaN,2019-10-02 08:08:12,20.928626,20.843884,0.944444,0.659167,0.871479
3,2019-10-02 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,NaN,NaN,2019-10-02 08:08:12,20.891918,20.806557,0.932870,0.656735,0.863631
4,2019-10-02 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,NaN,NaN,2019-10-02 08:08:12,20.912667,20.827826,0.944444,0.655518,0.868067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112548,2020-03-12 13:44:27,-72.90227,41.35798,AFF9,9.200000,60.01,NaN,NaN,2020-03-12 13:20:58,5.803058,5.305589,0.099819,0.790284,0.128323
112549,2020-03-12 13:44:28,-72.90227,41.35798,AFF9,9.172222,59.87,NaN,NaN,2020-03-12 13:20:58,5.766360,5.268015,0.095281,0.783550,0.117791
112550,2020-03-12 13:44:30,-72.90227,41.35798,AFF9,9.177778,59.72,NaN,NaN,2020-03-12 13:20:58,5.757764,5.259496,0.096189,0.776335,0.115323
112551,2020-03-12 13:44:33,-72.90229,41.35799,AFF9,9.177778,59.60,NaN,NaN,2020-03-12 13:20:58,5.747017,5.248692,0.096189,0.770563,0.112239
112552,2020-03-12 13:44:34,-72.90229,41.35799,AFF9,9.200000,59.19,NaN,NaN,2020-03-12 13:20:58,5.729545,5.231711,0.099819,0.750842,0.107224

In [90]:
Temp_ind = Fin.groupby('Date_all')['Temp_norm'].cumcount() % 9
RH_ind = Fin.groupby('Date_all')['RH_norm'].cumcount() % 9
Tw_ind = Fin.groupby('Date_all')['Tw_Numerical_norm'].cumcount() % 9
Fin['Temp_norm'][Temp_ind != 0]=np.nan
Fin['RH_norm'][Temp_ind != 0]=np.nan
Fin['Tw_Numerical_norm'][Temp_ind != 0]=np.nan
Fin

C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\tirth\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull,Temp_norm,RH_norm,Tw_Numerical_norm
0,2019-10-02 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,39.4,2019-10-02 08:08:12,2019-10-02 08:08:12,20.923797,20.838650,0.932870,0.664032,0.870447
1,2019-10-02 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,NaN,NaN,2019-10-02 08:08:12,20.939260,20.854587,NaN,NaN,NaN
2,2019-10-02 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,NaN,NaN,2019-10-02 08:08:12,20.928626,20.843884,NaN,NaN,NaN
3,2019-10-02 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,NaN,NaN,2019-10-02 08:08:12,20.891918,20.806557,NaN,NaN,NaN
4,2019-10-02 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,NaN,NaN,2019-10-02 08:08:12,20.912667,20.827826,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112548,2020-03-12 13:44:27,-72.90227,41.35798,AFF9,9.200000,60.01,NaN,NaN,2020-03-12 13:20:58,5.803058,5.305589,NaN,NaN,NaN
112549,2020-03-12 13:44:28,-72.90227,41.35798,AFF9,9.172222,59.87,NaN,NaN,2020-03-12 13:20:58,5.766360,5.268015,0.095281,0.783550,0.117791
112550,2020-03-12 13:44:30,-72.90227,41.35798,AFF9,9.177778,59.72,NaN,NaN,2020-03-12 13:20:58,5.757764,5.259496,NaN,NaN,NaN
112551,2020-03-12 13:44:33,-72.90229,41.35799,AFF9,9.177778,59.60,NaN,NaN,2020-03-12 13:20:58,5.747017,5.248692,NaN,NaN,NaN
112552,2020-03-12 13:44:34,-72.90229,41.35799,AFF9,9.200000,59.19,NaN,NaN,2020-03-12 13:20:58,5.729545,5.231711,NaN,NaN,NaN

In [91]:
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull,Temp_norm,RH_norm,Tw_Numerical_norm
0,2019-10-02 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,39.4,2019-10-02 08:08:12,2019-10-02 08:08:12,20.923797,20.838650,0.932870,0.664032,0.870447
1,2019-10-02 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,NaN,NaN,2019-10-02 08:08:12,20.939260,20.854587,NaN,NaN,NaN
2,2019-10-02 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,NaN,NaN,2019-10-02 08:08:12,20.928626,20.843884,NaN,NaN,NaN
3,2019-10-02 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,NaN,NaN,2019-10-02 08:08:12,20.891918,20.806557,NaN,NaN,NaN
4,2019-10-02 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,NaN,NaN,2019-10-02 08:08:12,20.912667,20.827826,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112548,2020-03-12 13:44:27,-72.90227,41.35798,AFF9,9.200000,60.01,NaN,NaN,2020-03-12 13:20:58,5.803058,5.305589,NaN,NaN,NaN
112549,2020-03-12 13:44:28,-72.90227,41.35798,AFF9,9.172222,59.87,NaN,NaN,2020-03-12 13:20:58,5.766360,5.268015,0.095281,0.783550,0.117791
112550,2020-03-12 13:44:30,-72.90227,41.35798,AFF9,9.177778,59.72,NaN,NaN,2020-03-12 13:20:58,5.757764,5.259496,NaN,NaN,NaN
112551,2020-03-12 13:44:33,-72.90229,41.35799,AFF9,9.177778,59.60,NaN,NaN,2020-03-12 13:20:58,5.747017,5.248692,NaN,NaN,NaN
112552,2020-03-12 13:44:34,-72.90229,41.35799,AFF9,9.200000,59.19,NaN,NaN,2020-03-12 13:20:58,5.729545,5.231711,NaN,NaN,NaN

In [92]:
Fin.to_csv('Compiled_Sara_norm.csv')

In [93]:
ss=Fin.groupby('Date').max()
Final=pd.DataFrame(ss.index)

Final[Final['Date']==""]=np.nan
Final=Final.dropna()
Final

                   Date
0   2019-10-02 08:08:12
1   2019-10-02 17:13:48
2   2019-10-03 08:11:55
3   2019-10-03 16:57:48
4   2019-10-04 08:11:33
5   2019-10-22 08:24:14
6   2019-10-22 17:12:18
7   2019-10-23 17:06:32
8   2019-10-28 17:18:29
9   2019-10-29 08:22:27
10  2019-10-30 08:00:50
11  2019-10-30 16:57:41
12  2019-10-31 08:23:17
13  2019-10-31 16:59:50
14  2019-11-15 08:02:02
15  2019-11-15 15:23:38
16  2019-11-20 08:15:54
17  2019-11-20 17:00:14
18  2019-11-22 08:27:57
19  2019-11-22 16:14:08
20  2019-11-25 08:03:36
21  2019-11-25 16:28:14
22  2020-02-24 08:24:48
23  2020-02-24 17:13:06
24  2020-02-25 08:14:32
25  2020-02-25 18:01:21
26  2020-02-26 08:14:42
27  2020-02-26 17:05:19
28  2020-02-27 08:22:30
29  2020-02-27 16:44:25
30  2020-02-28 08:28:10
31  2020-02-28 15:01:48
32  2020-03-02 17:00:31
33  2020-03-03 08:18:24
34  2020-03-03 17:15:10
35  2020-03-04 08:24:54
36  2020-03-04 16:56:11
37  2020-03-05 08:14:13
38  2020-03-06 08:02:30
39  2020-03-06 16:19:59
40  2020-03-09 08:21:50
41  2020-03-09 17:34:01
42  2020-03-10 17:02:34
43  2020-03-11 08:26:13
44  2020-03-11 17:11:50
45  2020-03-12 08:47:55
46  2020-03-12 13:20:58

In [94]:
Final.to_csv('Compiled_Sara_Date.csv')

In [95]:
Fin

,Time,Lon,Lat,ID,Temp,RH,Biked,Date,Date_all,Tw_Numerical,Tw_Stull,Temp_norm,RH_norm,Tw_Numerical_norm
0,2019-10-02 08:08:12,-72.90217,41.35806,AFF9,23.500000,79.62,39.4,2019-10-02 08:08:12,2019-10-02 08:08:12,20.923797,20.838650,0.932870,0.664032,0.870447
1,2019-10-02 08:08:13,-72.90217,41.35806,AFF9,23.527778,79.54,NaN,NaN,2019-10-02 08:08:12,20.939260,20.854587,NaN,NaN,NaN
2,2019-10-02 08:08:14,-72.90216,41.35806,AFF9,23.527778,79.46,NaN,NaN,2019-10-02 08:08:12,20.928626,20.843884,NaN,NaN,NaN
3,2019-10-02 08:08:15,-72.90216,41.35806,AFF9,23.500000,79.38,NaN,NaN,2019-10-02 08:08:12,20.891918,20.806557,NaN,NaN,NaN
4,2019-10-02 08:08:16,-72.90217,41.35805,AFF9,23.527778,79.34,NaN,NaN,2019-10-02 08:08:12,20.912667,20.827826,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112548,2020-03-12 13:44:27,-72.90227,41.35798,AFF9,9.200000,60.01,NaN,NaN,2020-03-12 13:20:58,5.803058,5.305589,NaN,NaN,NaN
112549,2020-03-12 13:44:28,-72.90227,41.35798,AFF9,9.172222,59.87,NaN,NaN,2020-03-12 13:20:58,5.766360,5.268015,0.095281,0.783550,0.117791
112550,2020-03-12 13:44:30,-72.90227,41.35798,AFF9,9.177778,59.72,NaN,NaN,2020-03-12 13:20:58,5.757764,5.259496,NaN,NaN,NaN
112551,2020-03-12 13:44:33,-72.90229,41.35799,AFF9,9.177778,59.60,NaN,NaN,2020-03-12 13:20:58,5.747017,5.248692,NaN,NaN,NaN
112552,2020-03-12 13:44:34,-72.90229,41.35799,AFF9,9.200000,59.19,NaN,NaN,2020-03-12 13:20:58,5.729545,5.231711,NaN,NaN,NaN

In [97]:
Fin['Temp_norm'].min()

0.0